@import "modals.css";
@import "modulo.css";

//colores 
$blanco: #fff;
$transparente_negro: rgba(0,0,0,0.5);
$transparente_blanco: rgba(255,255,255,0.1);
$fondo_menus:#005D84;
$negro:#000;
$notificacion:#EF1313;
$iniciales:#B461A3;
$activo:#7DCB3D;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align:baseline;
}

a {
    text-decoration: none;
    color: $negro;
}

body {
    background:$blanco;
    font-family: sans-serif;
    overflow:hidden;
}

html {
    scroll-behavior: smooth;
}

img{
    display: block;
}

ul,li {
    list-style: none;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],input[type="mail"],input[type="password"],input[type="date"],input[type="number"]{
    padding-left: 10px;
    padding-left: 10px;
    border: none;
    line-height: 1.5rem;
}

textarea{
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



.activo {
    background:$activo;
}

.boton3{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#595959;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#595959;
	font-family:Arial;
    font-weight: bold;
	font-size:.9rem;
	//padding:10px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    padding: 5px;

    &:hover{
        background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	    background-color:#dfdfdf;
        color:#000;
        font-weight: bold;
    }

    &:active{
        position:relative;
	    top:1px;
    }
}

.boton4 {
	background-color:#f49999;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-weight: bold;
	font-size:.9rem;
	padding:10px 39px;
	text-decoration:none;
	//text-shadow:0px 1px 0px #ffffff;

    &:hover{
        background:linear-gradient(to bottom, #f55555 5%, #e20606 100%);
	    background-color:#fe2c2c;
        color:#fff;
        font-weight: bold;
    }

    &:active{
        position:relative;
	    top:1px;
    }
}

.boton5 {
	background-color:#1823e7;
	border-radius:6px;
	border:1px solid #3427e5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-weight: bold;
	font-size:.9rem;
	padding:10px 39px;
	text-decoration:none;
	//text-shadow:0px 1px 0px #ffffff;

    &:hover{
        background:linear-gradient(to bottom, #823ff7 5%, #5d38d9 100%);
	    background-color:#3567be;
        color:#fff;
        font-weight: bold;
    }

    &:active{
        position:relative;
	    top:1px;
    }
}

.acordeon{
    color: #fff;
    background: #4b4a4a;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 86vh;
    overflow: auto;
    
    .link{
        display: block;
        display: block;
        padding: 10px 15px 15px 4px;
        color: white;
        font-size: .7rem;
        border-bottom: 1px solid #ccc;
        position: relative;
        font-weight: 700;
        cursor: pointer;

        span{
            padding-left: 10px;
        }

        .fa-chevron-down {
            position: absolute;
            right: 0;
            top: 12px;
        }

    }

    .submenu{
        font-size: .9rem;
        display: none;
        
        li {
            position: relative;
            margin-top: 10px;
        }

        a {
            padding: 6px;
            padding-left: 15px;
            transition: all .25s ease;
            display: block;

            &:hover {
                background-color:lightgrey;
                color: #000;
                border-left: 3px solid black;
                font-weight: bold;
            }
        }

        .visitado{
            background-color:$negro;
            color:$blanco;
        }
    }

    .open  {
        .link{
            color: #fff;
            background: #296384;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #190A05, #201f1f);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #190A05, #201f1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            font-size: .9rem;
        }

        i {
            color: #fff;	
        }

        .fa-chevron-down{
            transform: rotate(180deg);
        }
    }
}

.inactivo {
    background:$notificacion;
}

.areaTrabajo{
    display:grid;
    grid-template-columns: 12% 85%;
    background:$blanco;
    height: 90vh;

    .menu {
        background-color: $negro;
        color:$blanco;

        a{
            color:$blanco;
        }

        div:nth-child(1){
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 15px;
            border-top:1px solid $blanco;

            i {
                font-size: 1.5rem;
                margin-right: 10px;
            }
        }

        .catalogo{
            color:$blanco;
            
        }
    }

    .ventana {
        overflow: auto;

        .cargaModulo{
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 20px;
        }
    }
}

.cabecera,.pie{
    width: 100%;
    background-color: $negro;
    display: flex;
    color: $blanco;
    justify-content: space-between;

    div {
        display: flex;
        padding-right:30px;
        align-items: center;
        position: relative;

        ul {
            background:$blanco;
            position: absolute;
            top: 65px;
            right: 50px;
            width: max-content;
            border: 1px solid #000 !important;
            display:none;

            li {

                a {
                    display: block;
                    font-size: .9rem;
                    padding: 2px 5px;
                    transition-duration: .5s;
                    
                    &:hover {
                        background: $fondo_menus;
                        color: $blanco;
                    }
                }
            }
        }

        h1{
            background:$fondo_menus;
            font-size:1.2rem;
            padding: 9px 12px;
            border-radius: 50%;
            a{
                background:$fondo_menus;
                color:$blanco;
            }
        }
    }
}

.bienes {
    background:rgba(80, 97, 252, 0.2)
}

.servicios {
    background:rgba(127, 238, 112, 0.2)
}

.cabecera {
    height: 4rem;
}

.desactivado {
    opacity: 0.6;
    pointer-events: none;
    cursor: default;
}

.flex_center{
    display: flex;
    align-items: center;
}

.mayusculas{
    text-transform: uppercase;
}

.minusculas{
    text-transform: lowercase;
}

.normal{
    background: $activo;
}

.urgente {
    background:$notificacion;
    color: $blanco;
}

.resaltado_firma{
    font-weight: 900;
    background-color: #f3f3f3;
}

.pl5px{
    padding-left: 5px;
}

.pl10px{
    padding-left: 10px;
}

.pl20px{
    padding-left: 20px;
}

.pr5px{
    padding-right: 5px;
}


.pr10px{
    padding-right: 10px;
}

.pr15px{
    padding-right: 15px;
}


.pr20px{
    padding-right: 20px;
}

.pie {
    height:2rem;
    color: $blanco;
    background: $negro;
    position:fixed; /*El div será ubicado con relación a la pantalla*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
}

.resaltado{
    background: yellow;
    border: 3px solid black !important;
    text-align: center !important;
    font-size: 1.2rem !important;
}

.eliminarItem {
    color: red;
    text-align: center !important;
}

.stickytop {
    position: sticky;
    top: 0;
    z-index: 10;
    background: $negro;
}

.separatortr{
    position: sticky;
    top: 10px;
    background: #f2f2f2;
}

.textoCentro{
    text-align: center;
    padding: 0 5px;
}

.textoDerecha {
    text-align: right;
    padding-right: 5px;
}

.numeroTabla{
    text-align: right;
    padding-right: 20px;
}

.oculto{
    display: none;
}

.wrap{
    position: relative;
    height: 100vh;
    z-index: 1;
}

.duplicate {
    cursor: copy;
}

.semaforoVerde{
    background:lightgreen;
}

.semaforoRojo{
    background:red;
}

.semaforoAmarillo {
    background:yellow;
}

.semaforoNaranja {
    background:gold;
}

.columnaGeneral {
    background:#40D1FB !important;
    color: #000 !important;
    padding:0 5px;
}

.item_anulado{
    background:#c8c8c8;
}

.item_creado{
    background: #F8CAAD;
}

.item_aprobado{
    background:#ff0000;
}

.item_enviado{
    background:#C0DCC0;
}

.item_orden {
    background:#ffff00;
}

.item_parcial{
    background:#C0DCC0;
}

.item_ingreso_parcial{
    background:#ffffe1;
}

.item_ingreso_total {
    background:#A9D08F;
}

.item_registro_salida{
    background:#ff00ff;
}

.item_transito{
    background:#00ffff;
}

.item_obra,.entregado {
    background:#00ff00;
}

.item_registro_gerencia{
    background:#FFC000;
}

.item_stock{
    background: #005D84;
}


/*loader*/

.loadingio-spinner-spinner-5ulcsi06hlf {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ldio-fifgg00y5y {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-fifgg00y5y div { box-sizing: content-box; }
  
@keyframes ldio-fifgg00y5y {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-fifgg00y5y div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-fifgg00y5y linear 1s infinite;
    background: #fff;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }.ldio-fifgg00y5y div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #fff;
  }.ldio-fifgg00y5y div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #fff;
  }
  
  @media screen and (max-width: 1360px) {
    .menu{
        width: max-content;

        .titulo_menu {
            h1{
                font-size: 2rem;
            }

            i {
                font-size: 12px !important;
            }
        } 
    }
    
    .acordeon {
        .link {
            font-size: .5rem;
        }

        .submenu {
            a {
                font-size: .6rem;
            }
        }
    }

    .areaTrabajo {
        .ventana {
            margin-left: 2rem;
            width: 100%;
        }
    }

    .dashBoard {
        padding: 0;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;

        >div {
            padding: 5px;
        }

        .area1_description {
            margin: 1rem 0 !important;
        }

        .area3 {
            * {
                font-size: 0.55rem !important;
            }
        }
    }

    .barraTrabajo {
        font-size: 0.7rem;  
    }

    .tamanioProceso {
        width: 100% !important;
    }

    .ventanaProceso {
        max-width: 95% !important;
    }

    .ventanaVistaPrevia{
        width: 93% !important;
        height: 85vh !important;
    }
  }