//colores 
$blanco: #fff;
$transparente_negro: rgba(0,0,0,0.5);
$transparente_blanco: rgba(255,255,255,0.1);
$fondo_menus:#005D84;
$negro:#000;
$notificacion:#EF1313;
$iniciales:#B461A3;
$lineaBarra:#012B3F;
$fondoBarra:#0078D4;
$lineasTabla:#616161;
$tituloModulo: #797777;
$sobreElemento:#c2c2c2;
$sombra:#c3c3c3;
$barraVentana:#CF677E;
$fondoBotones:#797777;
$bordeCajas:#E0E0E0;
$subtitulo:#33B71F;
$bienes:chartreuse;
$servicios:chocolate;
$procesando:#FFCA28;
$consulta:#D7FF67;
$aprobacion:#C9E2F4;
$aprobado:#04AA6D;
$cotizando:#EFEF13;
$estudio:#C0CA33;
$conformidad:#27798F;
$firmas:#73BB6F;
$adjudicado:rgba(145,93,152,.5);
$recepcion:#AAD2F0;
$calidad:#F4D03F;
$despacho:#E2C08D;
$orden:#5F9EA0;
$culminado:#55A5E2;


.bienes {
    background:$bienes;
}

.servicios {
    background:$servicios;
}


.cabezaModulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    h3,h1,h2 {
        color: $tituloModulo;
    }

    div:nth-child(2){
        text-align: center;
        display: flex;
        gap: 20px;
    }

    a {
        color:$negro;
        font-size:1.5rem;
        text-align: center;

        p {
            font-size: .8rem !important;
        }
        
        /*&:nth-child(1){
            margin-right: 10px;
        }*/
    }
}

.controles_lineal{
    border: 1px solid $bordeCajas;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30px 0.3fr 30px 1fr;
    grid-template-rows: 1fr;
    padding: 0 19px;
    border-radius: 8px;
    align-items: self-end;
}

.column2,.column2_9,.column2_46,.column2_3957,.column2_3457{
    display:grid;
    position: relative;
    padding: 2px 5px;
}

.column2{
    grid-template-columns: 5rem 1fr;
}

.column2_9{
    grid-template-columns: 9rem 1fr;
}

.column2_46{
    grid-template-columns: 40% 60%;
}

.column2_3957{
    grid-template-columns: 39% 57%;
}

.column2_3457{
    grid-template-columns: 34% 57%;
}


.column4items{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    padding: 0 13px;
    gap: 5px;
    border: 1px solid $sobreElemento;
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 1rem;

    label {
        margin-top: 14px;
    }
}

.column4items2filas {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    padding: 10px 13px;
    gap: 8px;
    border: 1px solid $sobreElemento;
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 1rem;

    label {
        margin-top: 0 !important;
    }
}

.column4{
    position: relative;
    display: flex;
    padding: 5px;
    margin-left: -4px;
}

.column4_55 {
    display:grid;
    grid-template-columns: 50% 50%;
}

.column4_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

    div {
        display: flex;
        padding: 0 10px;

        input{
            margin-right: 20px;
        }

        label {
            margin-top: 20px;
            display: inline-block
        }
    }
}

.column4_7_1{
    display: grid;
    grid-template-columns: 70px 1fr 110px 1fr;
    margin-left: 6px;
    column-gap: 10px;
}


.dashBoard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    padding:1rem;
    //background: #005D84;
    overflow: auto;

    height: 90vh;

    >div {
        border:1px solid $lineaBarra;
        padding:1rem;
        box-shadow: 3px 5px 5px $sombra;

        .titulo {
            font-weight: bold;
            color:$negro;
        }
    }

    .area1 { 
        grid-area: 1 / 1 / 2 / 3;

        .area1_description{
            display: flex;
            justify-content:space-evenly;
            margin: 3rem 0;

            .area1_section{
                display:inherit;
                line-height: 2rem;
                color: $negro;

                i:nth-child(1) {
                    padding:2rem;
                    border-radius: 50%;
                }

                div:nth-child(1){
                    display: flex;
                    font-size: 2rem;
                    justify-content:center;
                    align-items:center;
                    padding: 1rem;
                }

                div:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    //font-size: .8rem;
                    justify-content:left;
                    align-items:left;
                    padding: 1rem;

                    p:nth-child(2){
                        font-size: 2rem;
                        font-weight: bold;
                    }

                    p:nth-child(3){
                        font-size: .7rem !important;
                    }
                }
            }

            .area1_section:nth-child(1) {
                i{
                    background: #FABD1C !important;
                }
            }

            .area1_section:nth-child(2) {
                i{
                    background: #DF3D62 !important;
                }
            }

            .area1_section:nth-child(3) {
                i{
                    background: #58CA90 !important;
                }
            }
        }

        .area1_command{
            text-align: center;

            button {
                border: none;
                padding: 1rem;
                width: 100%;
                margin-top: 25px;
                border-radius: 8px;
                color: #fff;
                background: #518FFB;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                width: 35%;

                &:hover{
                    box-shadow: 2px 3px 5px #000;
                }
            }
        }
    }
    
    .area2 { 
        grid-area: 2 / 1 / 3 / 2;
        max-height: 45vh;
        overflow: auto; 

        #myChart{
            height: 320px; 
            width: 500px;
            margin: 0 auto;
        }
    }
    
    .area3 { 
        grid-area: 2 / 2 / 3 / 3;
        max-height: 45vh;
        overflow: auto; 

        .dashboard_table{
            margin-top: 20px;
        }
    }
}



.direccion_columna{
    flex-direction: column;
}

.barraTrabajo {
    border-top: 3px solid $lineaBarra;
    background: $fondoBarra;

    .unaConsulta {
        color: $blanco;
        padding: 5px 15px;

        input{
            width: 90%;
            height: 2rem;
            outline: none;
            border:none;
            padding-left: 20px;
            border-radius: 8px;
        }
    }

    .dosConsultas{
        color: $blanco;
        padding: 5px 15px;
        display:grid;
        grid-template-columns: 150px .5fr 150px 1fr;
        gap: 20px;

        input{
            height: 2rem;
            outline: none;
            border:none;
            padding-left: 20px;
            border-radius: 8px;
        }
    }

    .variasConsultas{
        color: $blanco;
        padding: 5px 15px;
        display:grid;
        grid-template-columns: 0.3fr 1.2fr 0.3fr 0.3fr 0.3fr;
        column-gap: 10px;

        label{
            line-height: 2rem;
        }

        input,select{
            height: 2rem;
            outline: none;
            border:none;
            padding-left: 20px;
            border-radius: 8px;
        }

        div:nth-child(2){
            select{
                width: 70%;
            }
        }

        div:nth-child(3),div:nth-child(4){
            input{
                width: 65%;
            }
        }
    }

    .variasConsultasColumna{
        display: grid;
        grid-template-columns: 1fr 5%;
        padding: 5px;
        column-gap: 10px;

        .datosConsulta{
            display: grid;
            grid-template-columns: repeat(25, .3fr);
            grid-template-rows: 1fr 1fr;
            column-gap: 10px;
            row-gap: 10px;
            
            label {
                color:$blanco;
                display: block;
            }

            input,select {
                height: 1.7rem;
                width:100%;
                outline: none;
                border-radius: 5px;
            }

            .item1 {
                grid-column: 1;
                grid-row: 1;
            }

            .item2 {
                grid-column: 2/4;
                grid-row: 1;
            }

            .item3 {
                grid-column: 4/9;
                grid-row: 1;
                margin-left: 20px;
            }

            .item4 {
                grid-column: 7/19;
                grid-row: 1;
            }

            .item5 {
                grid-column: 19;
                grid-row: 1;
                margin-left: 20px;
            }

            .item6 {
                grid-column: 20/22;
                grid-row: 1;
            }

            .item7 {
                grid-column: 22;
                grid-row: 1;
            }

            .item8 {
                grid-column: 23/25;
                grid-row: 1;
            }

            .item9 {
                grid-column: 1/3;
                grid-row: 2;
            }

            .item10 {
                grid-column: 2/4;
                grid-row: 2;
            }

            .item11 {
                grid-column: 4/9;
                grid-row: 2;
                margin-left: 20px;
            }

            .item12 {
                grid-column: 7/13;
                grid-row: 2;
            }

            .item13 {
                grid-column: 13/15;
                grid-row: 2;
                margin-left: 20px;
            }

            .item14 {
                grid-column: 15/25;
                grid-row: 2;
            }
            
        }

        .datosConsultaCargoPlan{
            font-size: 0.8rem;
            display: flex;
            gap: 20px;
            justify-content: space-between;

            label {
                color:$blanco;
                display: block;
            }

            input,select {
                height: 1.7rem;
                width:100%;
                outline: none;
                border-radius: 5px;
            }

            .procesos {
                display: flex;
                gap: 5px;
                align-items: center;
    
                div{
                    border: 1px solid #000;
                    padding: 5px;

                    a {
                        color: #fff;
                        font-size: 8pt;
                    }
                }
            }
        }

        .botonesConsulta{
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            button {
                height: 20px;
                border-radius: 8px;
                transition: all .5s;
                color: #d2c2d2;

                &:hover{
                    box-shadow: 2px 3px 6px #005D84;
                    color: #000;
                }
            }
        }
    }
}

.tituloGrupo,.tituloClase{
    color:$blanco;
    font-weight: bold;
    line-height:2rem;
    font-size: 0.7rem;
}

.tituloGrupo{
    background:$fondo_menus;
}

.tituloClase{
    background:$tituloModulo;
}

.itemsTabla{
    width: 100%;
    height: 73vh;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background:$negro;
            color:$blanco;
            font-size: .7rem;
            height: 1.2rem;
        }

        tbody {
            .pointer{
                cursor: pointer;
                height: 25px;
                td{
                    border: 1px solid  $lineasTabla;
                    line-height:1rem;
                    font-size: 0.7rem;
                }
                
                &:hover {
                    background:rgba(255,255,43,.7);
                }
            };
        }
    }
}

.itemsCargoPlanner{
    overflow: auto;
    height: 73vh;
    margin-top: 5px;

    table {
        border-collapse: collapse;
        width: 150%;
        

        thead {
            background:$negro;
            color:$blanco;
            height: 1.2rem;
            font-size: 0.6rem;
        }

        tbody {
            .pointer{
                cursor: pointer;
                height: 25px;
                
                td{
                    border: 1px solid  #000;
                    line-height: 1rem;
                    padding: 0 2px;
                    font-size: 0.6rem;
                }
                
                &:hover {
                    background:rgba(255,255,43,.7);
                }
            };
        }

    }
}

.lista{
    width: 85%;
    position: absolute;
    background: $blanco;
    left: 88px;
    top: 39px;
    z-index: 99;
    border: 1px solid $sombra;
    font-size: .8rem;
    box-shadow: 3px 2px 6px;
    line-height: 1.5rem;
    padding: 2px;
    transition: .3s;
    display: none;
    max-height: 20rem;
    overflow: auto;

    a {
        display: block;
        
        &:hover{
            background:$sobreElemento;
        }
    }
}

.ventanaPrecios,
.ventanaProceso,
.ventanaOpciones,
.ventanaBusqueda,
.ventanaPregunta,
.ventanaArchivos,
.ventanaVistaPrevia,
.ventanaCorreo,
.ventanaAdjuntos,
.ventanaDialogo,
.ventanaEspera,
.ventanaComentarios,
.ventanaDocumento,
.ventanaResumen,
.ventanaCambio,
.ventanaOperador{
    background:$blanco;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 8px 5px #000;
}

.ventanaResumen{
    border-radius: 8px;

    .tituloDocumento{
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: 1px solid #c2c2c2;
        margin-bottom: 5px;  
    }

    p {
        display:block;
        margin-bottom:20px;
    }

    input{
        border: 1px solid #c2c2c2 !important;
        height: 2rem;
        width: 100%;
        outline: none;
        font-size: 0.7rem;
    }

    label{
        font-weight: bold;
        font-size: .7rem;
    }

    a{
        text-align: right;
        font-size: 1.5rem;
        margin-right: 20px;
    }
    
    section {
        display:grid;
        padding: 0 1rem;
        column-gap:5px;
        margin-bottom: 20px;

        div{
            display:grid;
            grid-template-rows: 1fr 1fr;
        }
    }

    .seccion1{
        grid-template-columns: 15% 55% 8% 8% 12%;
    }

    .seccion2{
        grid-template-columns: 1fr 5% 1fr 1fr 1.5fr 1fr;
    }

    .seccion3{
        grid-template-columns: repeat(6,1fr);

        a{
            margin-left: 30px;
        }
    }

    .seccion4{
        grid-template-columns: repeat(6,1fr);
    }

    .seccion5{
        grid-template-columns: repeat(6,1fr);
    }

    .porcentaje{
        background: rgb(33,167,227);
        background: linear-gradient(90deg, rgba(33,167,227,0.18531162464985995) 0%, rgba(93,185,223,1) 50%, rgba(0,255,218,1) 100%);
        position: relative;
        height: 2rem;
        transition-duration: .5s;
        width: 0;

        span{
            position: absolute;
            left: 0;
            right: 0;
            top:5px;
            bottom: 0;
            font-size: 0.8rem;
        }
    }
}

.ventanaProceso {
    border-radius: 8px;
    position: relative;
    min-width: 25%;
    max-width: 90%;

    .primeraBarra{
        border-radius: 8px 8px 0 0;;
    }

    .ccostos__partidas{
        height: 10rem;
        overflow: auto;
    }
}

.ventanaAdjuntos{
    width: 45%;
    border-radius: 8px;
    height: 35rem;

    object,iframe{
        width: 100%;
        height: 100%;
    }

    .tituloAdjuntos{
        display: flex;
        justify-content: space-between;
        padding:1rem;
    }
    
    ul{
        display: flex;
        flex-wrap: wrap;
        height: 6rem;
        width: 95%;
        border: 1px solid $bordeCajas;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
        overflow:auto;

        li {
            border: 1px solid $blanco;
            height: 4rem;
            
            a {
                display: block;
                text-align: center;
                width: 6rem;
                padding: 0.3rem;
                transition: .5s;
                border-radius: 8px;

                &:hover {
                    background: rgba(0,120,212,.4);
                    backdrop-filter: saturate(180%) blur(20px);
                }
            }
            
            i{
                font-size: 2rem;
                margin-bottom: 5px;
            }

            p{
                font-size: .6rem;
                text-align: justify;
                height: 1.5rem;
                overflow: hidden;
            }

            
        }
    }
}

.ventanaPrecios {
    width: 45%;
    border-radius: 8px;
    height: 40rem;

    .tituloVista{
        display: flex;
        justify-content: space-between;
        padding:1rem;

        h3{
            width: 97%;
        }
    }
}

.ventanaVistaPrevia{
    width: 45%;
    border-radius: 8px;
    height: 40rem;

    object,iframe{
        width: 100%;
        height: 100%;
    }

    .tituloVista{
        display: flex;
        justify-content: space-between;
        padding:1rem;
    }
}

.ventanaDocumento{
    border-radius: 8px;

    input{
        border: 1px solid $sombra !important;
        height: 1.6rem !important;
    }

    .tituloDocumento{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        p {
            display:inline-block;
        }  
    }

    .dos_columnas{
        padding: 1rem;
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        label{
            font-weight: bold;
            font-size: 0.7rem;
        }

        input[type="text"],textarea {
            font-size: .7rem !important;
        }

        input[type="number"] {
            font-size: .7rem !important;
            text-align: right;
        }

        p {
            margin: 1rem 0;
            border-bottom: 1px solid $sombra;
        }

        .dos_columnas_interna{
            display:grid;
            position: relative;
            grid-template-columns: 28% 1fr;
            column-gap: 3px;
            row-gap: 5px;
        }

        .cuatro_columnas_interna{
            display:grid;
            position: relative;
            grid-template-columns: repeat(2,28% 1fr);
            grid-template-rows: repeat(8 1fr);
            row-gap:.5rem;
            column-gap: 3px;

            .uno {
                grid-column: 1;
            }
            .dos{
                grid-column: 2 / 6;
            }

            .tres{
                grid-column: 2 / 4;
            }

            .rowTwo{
                grid-row: 1;
            }

            .rowTwo{
                grid-row: 2;
            }

            .rowThree{
                grid-row: 3
            }

            .rowFour{
                grid-row: 4;
            }

            .rowFive{
                grid-row: 5;
            }

            .rowSix{
                grid-row: 6
            }

            .rowSeven{
                grid-row: 7
            }
        }

        textarea {
            border:1px solid $sombra;
            padding:3px;
        }
    }
    
}

.ventanaCorreo{
    width: 55%;
    padding: 1rem;
    border-radius: 8px;

    .tituloCorreo{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        i {
            font-size: 1.5rem;
        }
    }

    .cuerpoCorreo{
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        column-gap: 10px;

        .correoIzq{
            border:1px solid  $bordeCajas;
            padding:1rem;
            border-radius: 8px;
            padding: 10px;

            .asunto{
                border:1px solid  $bordeCajas;
                padding:1rem;
                border-radius: 8px;
                padding: 10px;
                margin-bottom: 5px;

                input{
                    border:none;
                    border-bottom: 1px solid $bordeCajas;
                    outline: none;
                    width:80%;
                }
            }

            .opciones{
                margin-bottom: 5px;
            }
            .messaje{
                min-height: 20rem;
                max-height: 20rem;
                border: 1px solid black;
                padding: 10px;
                overflow:auto;

                div{
                    outline: none;
                    border-bottom: 1px dotted #c2c2c2;
                    line-height: 1.2rem;
                    font-size: .9rem;
                }
            }

            .atachs{
                height: 3rem;
                border: 1px dotted #c2c2c2;
                margin-top: 10px;
                display:flex;
                flex-direction:column;
                overflow:auto;
                padding: .5rem;

                li{
                    margin-right: 1px;
                    font-size: 0.7rem;
                    line-height: 1rem;
                    border:1px solid $blanco;

                    &:hover{
                        border:1px solid $bordeCajas;
                    }
                }
            }

            .commands{
                margin-top: 5px;
                text-align: right;
            }
        }

        .correoDerch{
            border:1px solid  $bordeCajas;
            padding: 1rem;
            
            h4{
                margin-bottom: 10px;
            }
        }


    }
}

.ventanaArchivos{
    width: 40%;
    padding: 1rem;
    border-radius: 8px;
    max-height: 30rem;
    overflow: hidden;

    .tituloArchivos{
        display: flex;
        justify-content: space-between;

        a {
            text-align: center;
            font-size: 0.8rem;
            border: 1px solid #fff;
            padding: 5px;
            border-radius: 10px;

            &:hover{
                border: 1px solid #d4d4d4;
            }
        }

        i {
            font-size: 1.5rem;
        }
    }

    .listaArchivos {
        max-height: 30vh;
        height: 30vh;
        border:1px solid $bordeCajas;
        margin: 5px 0;
        overflow: auto;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;

        li{
            width: 6rem;
            text-align: center;
            margin: 10px;

            i {
                font-size: 2rem;
            }

            p:nth-child(2) {
                font-size: 0.6rem;
                width: 110px;
                text-align: center;
                word-wrap: break-word;
            }
        }
    }

    .opcionesArchivos{
        display: flex;
        justify-content:center;

        button{
            padding: 1rem;
            width: 33%;
            margin-right: 10px;
        }
    }
}

.tabs_labels{
    display: flex;
    line-height: 1.5rem;
    display: flex;
    justify-content: space-around;

    a{
        display: block;
    }
}

//clase para la ventana de proceso
.ventanaProceso {
    //aca cambiar para el media query
    //width: 65%;

    .seccion_izquierda,.seccion_medio,.seccion_derecha{
        padding: 0;
    }

    .seccion_izquierda{
        width: 100%;
    }

    .barraOpciones {
        display: flex;
        justify-content:space-between;
        background:$fondoBarra;
        padding: 5px;
        
        >span {
            color:$blanco;
            line-height:2rem;
        }

        button {
            height:35px;
            padding:10px;
            border: 2px solid transparent;
            transition:.5s;
            position: relative;

            &:hover{
                border:2px solid $negro;
            }

            span{
                background: red;
                color: white;
                font-size: .5rem;
                padding: 5px 7px;
                position: absolute;
                top: 0;
                border-radius: 20px;
                right: -5px;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
            }
        }
    }

    .textAreaEnter{
        textarea {
            width: 100%;
            border:1px solid $sobreElemento;
            height: 2rem;
            padding: 5px;
        }
    }

    .dataProceso_2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .dataProceso_flex{
        display: flex;
    }

    .dataProceso_flex_columna{
        display: flex;
        flex-direction: column;
    }

    .dataProceso{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 5px;
    }

    .dataProceso,.dataProceso_2,.dataProceso_flex,.dataProceso_flex_columna{
        input[type=text], input[type=date], input[type=number],input[type=password],input[type=mail] {
            height: 35px;
            border:none;
            border:1px solid $sobreElemento;
            margin-top: 3px;
            font-size: .7rem;
            border-radius: 8px;
        }

        input[type=checkbox],input[type=radio] {
            height: 1rem;
        }

        label {
            font-size: 0.7rem;
            font-weight: bold;
            margin-top: 10px;
        } 
        
        .igv{
            border: 1px solid #c2c2c2;
            display: flex;
            justify-content: space-evenly;
            padding: 10px;
            border-radius: 8px;

            label {
                margin-top: 0 !important;
            }
        }
    }

    table {
        tbody{
            tr{
                height: 30px;
                font-size: 0.7rem;
            }

            input[type="text"]{
                border: none !important;
                height: 1rem !important;
                width: 100%;
                outline: none;
            }

            select{
                width: 100%;
                height: 2rem;
                outline:none;
            }
        }
    }
}

.ventanaBusqueda{
    //width:65%;

    input[type="text"] {
        height: 35px;
        border:none;
        border:1px solid #c2c2c2;
        width: 100%;
        outline: none;
    }

    .tablaBusqueda{
        height: 50rem;
        overflow:auto;
        padding: 0 10px;

        tbody {
            tr {
                cursor:pointer;
            }
        }
    }

    .tituloVentana {
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        background:$barraVentana;
        height: 2rem;
        padding: 7px;
        color: $blanco;
        font-weight: bold;
    }

    .textoBusqueda{
        padding:10px;
        display: flex;
        gap: 10px;
    }
}

.ventanaDialogo {
    width: 20%;
}

.ventanaComentarios{
    width: 33%;
    padding:1rem;
    border-radius: 20px;

    .cuerpoComentarios{
        height: 25rem;
        overflow:auto;
    }
}

.ventanaOperador{
    width: 19%;
    padding:1rem;
    border-radius: 20px;

    h3{
        text-align: center;
    }

    .contenedor_operadores{
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        font-size: .8rem;
        line-height: 2rem;
        margin: 10px 0;

        a{
            background: transparent;
            margin-left: 10px;
            display:block;
            padding-left: 20px;
            transition: .5s;

            &:hover{
                background: rgba(128,128,255,0.5);
            }
        }
    }

    button {
        border:none;
        width: 45%;
        line-height: 2.5rem;
        background:$fondoBotones;
        color:$blanco;
        transition:.5s;
        
        &:hover{
            color: $negro;
            background:$fondo_menus;
        }
    }
}

.ventanaPregunta,.ventanaDialogo,.ventanaComentarios{
    text-align: center;
    padding: 20px;
    line-height: 3rem;
    
    button {
        border:none;
        width: 45%;
        line-height: 2.5rem;
        background:$fondoBotones;
        color:$blanco;
        transition:.5s;
        
        &:hover{
            color: $negro;
            background:$fondo_menus;
        }
    }
}

.ventanaCambio{
    padding: 15px;

    h3{
        text-align: center;
    }

    input{
        display: block;
        height: 35px;
        border: 1px solid #000;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    button {
        border:none;
        width: 45%;
        line-height: 2.5rem;
        background:$fondoBotones;
        color:$blanco;
        transition:.5s;
        
        &:hover{
            color: $negro;
            background:$fondo_menus;
        }
    }

}

.pestanasUsuario{
    height: 20rem;
    overflow: auto;
}

.separadorItem{
    background:$fondo_menus;
    color: $blanco;
}

.itemSeleccionado{
    background:rgba(255,255,255,.1) !important;
    color: $negro;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        border-color: #009933;
        border-style: solid;
        border-width: 0 0.3em 0.25em 0;
        height: 1em;
        top: 1.3em;
        left: 0.6em;
        margin-top: -1em;
        transform: rotate(45deg);
        width: 0.5em;
    }
}

.tablaPointer{
    cursor: pointer;
}

//tablas en  los formularios
.tablaInterna {
    overflow:auto;
    max-height: 25vh;
}

.tablainterna3columnas{
    th:nth-child(1),th:nth-child(3) {
        width:10%;
    }
}

.tablainterna4columnas{
    th:nth-child(1),th:nth-child(3) {
        width:15%;
    }
}

//tabla Principak
.tabla3columnas{
    th:nth-child(1),th:nth-child(3) {
        width:5% ;
        padding-left: 20px;
    }
}

.tabla4columnas{
    th:nth-child(1),th:nth-child(2),th:nth-child(4) {
        width:5% !important;
    }
}

.tabla6columnas{
    th:nth-child(1),th:nth-child(6) {
        width:5% !important;
    }

    th:nth-child(2),th:nth-child(4) {
        width:20% !important;
    }
}

.tabla7columnas{
    th:nth-child(1),th:nth-child(6),th:nth-child(7) {
        width:5% !important;
    }
}

.celdaAsignado{
    word-break: break-all !important;
    white-space: nowrap !important;
    width : 150px !important;
}

.tabla,.tablaWrap{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.7rem;

    thead {
        background:$negro;
        color:$blanco;
        height: 30px;
        font-size: .8rem;
    }

    tbody {
        tr{
            td{
                border: 1px solid  $lineasTabla;
                line-height:1rem;

                input[type="number"],input[type="text"],input[type="date"]{
                    width: 100%;
                    height: 2rem;
                    padding-right: 10px;
                    background:transparent;
                    outline: none;
                }

                input[type="number"]{
                    text-align: right;
                }

                textarea{
                    width: 100%;
                    outline: none;
                    background: transparent;
                    font-size: 0.7rem;
                    padding-left: 2px;
                }
            }

            &:hover{
                background:rgba(255,255,43,.7);
            }
        }
   
    }
}

.tablaWrap{
    tbody {
        tr{
            td{
                border: 1px solid  $lineasTabla;
                overflow: hidden;
                white-space: break-spaces;
                transition: 5s;
            }
        }
    }
}

.tabs_labels {
    a {
        display: block;
        width: 19rem;
        text-align: center;
        transition: .5s;

        &:hover{
            background: $sobreElemento;
        }
    }

    .seleccionado {
        color: $blanco;
        background:$negro;
    }
}

.criterio{
    border: 1px solid #616161 !important;
    line-height: 1.5rem !important;
}


.leyenda {
    position: absolute;
    background: #fff;
    z-index: 10;
    padding: 1rem;
    right: -180px;

    table {
        border-collapse: collapse;

        thead {
            color: $blanco;
            background:$fondo_menus;
            font-size: .7rem;
        }

        tr,th,td{
            border: 1px solid $sombra;
            padding:10px;

        }
    }
}

//colores cargo Plan
.cero__avance,.entrega__125 {
    background-color: lightcoral !important;
    color: #000;
}

.entrega__2699{
    background-color: lightseagreen !important;
    color: #000;
}

.entrega__completa{
    background-color: lightblue !important;
    color: #000;
}

.w5por{
    width: 5%;
}


.w10por{
    width: 10%;
}

.w25por{
    width: 25%;
}


.w35por{
    width: 35%;
}

.w50por{
    width: 50%;
}

.w65por{
    width: 65%;
}

.w75por{
    width: 75%;
}

.w90por{
    width: 90%;
}

.w100por{
    width: 100%;
}

//margenes
.ml60px{
    margin-left: 60px;
}

//modificar esto para la resolucion de la pantalla
.tamanioProceso{
    width: 75%;
}

.tamanioProceso80{
    width: 80%;
}

//altos
.mininoTablaInterna{
    min-height: 15rem;
}

//margenes

.izq20px{
    margin-left: 20px;
}


//processos
.estado{
    font-weight:900;
}

.procesando,.consulta,.aprobacion,.estudio,.conformidad,.firmas,.recepcion,.calidad,.despacho,.atendido{
    font-size: 0.7rem !important;
}

.procesando{
    background: $procesando;
}

.consulta{
    background: $consulta;
}

.aprobacion{
    background: $aprobacion;
}

.aprobado{
    background: $aprobado;
}

.cotizacion {
    background: $cotizando;
}

.estudio {
    background: $estudio;
}

.adjudicado {
    background: $adjudicado;
}

.conformidad  {
    background: $conformidad;
}

.firmas {
    background: $firmas;
}

.recepcion{
    background: $recepcion;
}

.calidad{
    background: $calidad;
}

.despacho{
    background: $despacho;
}

.orden{
    background: $orden;
}

.culminado{
    background: $culminado;
}

.atendido {
    background: $subtitulo;
}

.resumen__wrap {
	height: 65vh;
	display: grid;
	grid-template-columns: 1fr 1fr .85fr;
	grid-template-rows: 5% 1fr .8fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

    &>div{
        border: 1px dotted #cecece;
		padding: 5px;
		font-size: .7rem;
    }

    .div1{
        grid-area: 1 / 1 / 2 / 4;
        background: #000;
		color: #fff;
        display: flex;
        justify-content: space-between;
         
        a {
            color: #fff;
            font-size: .9rem;
        }
    }

    .div2{
        grid-area: 2 / 1 / 3 / 2;
        line-height: 1.2rem;
        padding: 5px;

        p{
            border-bottom: 1px solid #c2c2c2;
            padding: 5px;
        }

        .opciones {
			margin-top: 20px;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: space-between;

            button {
                padding: 12px;
                font-size: .6rem;
            }
		}
    }

    .div3{
        grid-area: 2 / 2 / 3 / 3;
    }

    .div4{
        grid-area: 2 / 3 / 4 / 4;

        .table_detalle {
			border-collapse: collapse;
            width: 100%;

            thead{
                background-color: black;
                color: #fff;
                border: 1px solid #c2c2c2;
            }

            tbody tr td {
                border: 1px dotted #c2c2c2;

                a {
                    font-size: .9rem !important;
                }
            }
		}

		.textoCentro{
			text-align: center;
		}
    }

    .div5{
        grid-area: 3 / 1 / 4 / 3;

        .circulos {
            margin-bottom: 10px;

			p {
                width: 100%;
                text-align: center ;
                line-height: 2rem;
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }

            .avances {
                display: flex;
                justify-content: space-between;
                position: relative;

                .circulo_exterior {
                    text-align: center;
                    width: 70px;
                    border-radius: 50%;
                    padding: 10px;
                    box-shadow: 5px 7px 6px #c2c2c2;
                }
        
                .circulo_interior {
                    width: 80px;
                    border-radius: 50%;
                    padding: 20px;
                    text-align: center;
                    position: relative;
                    border: 6px solid #fff;

                    span{
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-weight: bold;
                        font-size: .55rem;
                    }
                }

                .avance_activo_interno {
                    background: yellow;
                }
        
                .avance_activo_externo {
                    background: red;
                }
        
                .avance_inactivo {
                    background: #c2c2c2;
                }

                .barra {
                    width: 100%;
                    height: 10px;
                    background: #c2c2c2;
                    position: absolute;
                    top: 50%;
                    z-index: -1;
                }
        
            }
		}
    }
}