//colores 
$blanco: #fff;
$transparente_negro: rgba(0,0,0,0.5);
$transparente_blanco: rgba(255,255,255,0.1);
$fondo_menus:#005D84;
$negro:#000;
$notificacion:#EF1313;
$iniciales:#B461A3;
$lineaBarra:#012B3F;
$fondoBarra:#0078D4;
$lineasTabla:#616161;
$tituloModulo: #797777;
$sobreElemento:#c2c2c2;
$sombra:#c3c3c3;
$barraVentana:#CF677E;
$fondoBotones:#797777;
$bordeCajas:#E0E0E0;
$subtitulo:#33B71F;
$bienes:chartreuse;
$servicios:chocolate;
$procesando:#FFCA28;
$consulta:#D7FF67;
$aprobacion:#C9E2F4;
$aprobado:#04AA6D;
$cotizando:#EFEF13;
$estudio:#C0CA33;
$conformidad:#27798F;
$adjudicado:rgba(145,93,152,.5);

.bienes {
    background:$bienes;
}

.servicios {
    background:$servicios;
}


.cabezaModulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    h3,h1,h2 {
        color: $tituloModulo;
    }

    a {
        color:$negro;
        font-size:1.5rem;
        
        &:nth-child(1){
            margin-right: 10px;
        }
    }
}

.controles_lineal{
    border: 1px solid $bordeCajas;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30px 0.3fr 30px 1fr;
    grid-template-rows: 1fr;
    padding: 0 19px;
    border-radius: 8px;

}

.column2,.column2_9,.column2_46,.column2_3957{
    display:grid;
    position: relative;
    padding: 5px;
}

.column2{
    grid-template-columns: 5rem 1fr;
}

.column2_9{
    grid-template-columns: 9rem 1fr;
}

.column2_46{
    grid-template-columns: 40% 60%;
}

.column2_3957{
    grid-template-columns: 39% 57%;
}

.column4items{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    padding: 0 13px;
    row-gap: -5px;
    border: 1px solid $sobreElemento;
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 1rem;

    label {
        margin-top: 14px !important;
    }
}

.column4{
    position: relative;
    display: flex;
    padding: 5px;
    margin-left: -4px;
}

.column4_55 {
    display:grid;
    grid-template-columns: 50% 50%;
}

.column4_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

    div {
        display: flex;
        padding: 0 10px;

        input{
            margin-right: 20px;
        }

        label {
            margin-top: 20px;
            display: inline-block
        }
    }
}

.direccion_columna{
    flex-direction: column;
}

.barraTrabajo {
    //line-height: 3rem;
    border-top: 3px solid $lineaBarra;
    background: $fondoBarra;

    .unaConsulta {
        color: $blanco;
        padding: 5px 15px;

        input{
            width: 90%;
            height: 2rem;
            outline: none;
            border:none;
            padding-left: 20px;
            border-radius: 8px;
        }
    }

    .variasConsultas{
        color: $blanco;
        padding: 5px 15px;
        display:grid;
        grid-template-columns: 0.3fr 1.5fr 0.3fr 0.3fr 0.3fr;
        column-gap: 10px;

        label{
            line-height: 2rem;
        }

        input,select{
            height: 2rem;
            outline: none;
            border:none;
            padding-left: 20px;
            border-radius: 8px;
        }

        div:nth-child(2){
            input{
                width: 70%;
            }
        }

        div:nth-child(3),div:nth-child(4){
            input{
                width: 65%;
            }
        }
    }
}

.tituloGrupo,.tituloClase{
    color:$blanco;
    font-weight: bold;
    line-height:2rem;
    font-size: 0.7rem;
}

.tituloGrupo{
    background:$fondo_menus;
}

.tituloClase{
    background:$tituloModulo;
}

.itemsTabla{
    width: 100%;
    height: 73vh;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    
    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background:$negro;
            color:$blanco;
            line-height: 1.5rem;
            font-size: .7rem;
        }

        tbody {
            .pointer{
                cursor: pointer;
                height: 25px;
                td{
                    border: 1px solid  $lineasTabla;
                    line-height:1rem;
                    font-size: 0.7rem;
                }
                
                &:hover {
                    background:rgba(255,255,43,.7);
                }
            };
        }
    }
}

.lista{
    width: 85%;
    position: absolute;
    background: $blanco;
    left: 88px;
    top: 39px;
    z-index: 99;
    border: 1px solid $sombra;
    font-size: .8rem;
    box-shadow: 3px 2px 6px;
    line-height: 1.5rem;
    padding: 2px;
    transition: .3s;
    display: none;
    max-height: 20rem;
    overflow: auto;

    a {
        display: block;
        
        &:hover{
            background:$sobreElemento;
        }
    }
}

.ventanaProceso,
.ventanaOpciones,
.ventanaBusqueda,
.ventanaPregunta,
.ventanaArchivos,
.ventanaVistaPrevia,
.ventanaCorreo,
.ventanaAdjuntos,
.ventanaDialogo,
.ventanaEspera,
.ventanaComentarios{
    background:$blanco;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 8px 5px #000;
}

.ventanaProceso {
    border-radius: 8px;

    .primeraBarra{
        border-radius: 8px 8px 0 0;;
    }
}

.ventanaAdjuntos{
    width: 45%;
    border-radius: 8px;
    height: 35rem;

    object,iframe{
        width: 100%;
        height: 100%;
    }

    .tituloAdjuntos{
        display: flex;
        justify-content: space-between;
        padding:1rem;
    }
    
    ul{
        display: flex;
        flex-wrap: wrap;
        height: 6rem;
        width: 95%;
        border: 1px solid $bordeCajas;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
        overflow:auto;

        li {
            border: 1px solid $blanco;
            height: 4rem;
            
            a {
                display: block;
                text-align: center;
                width: 6rem;
                padding: 0.3rem;
                transition: .5s;
                border-radius: 8px;

                &:hover {
                    background: rgba(0,120,212,.4);
                    backdrop-filter: saturate(180%) blur(20px);
                }
            }
            
            i{
                font-size: 2rem;
                margin-bottom: 5px;
            }

            p{
                font-size: .6rem;
                text-align: justify;
                height: 1.5rem;
                overflow: hidden;
            }

            
        }
    }
}

.ventanaVistaPrevia{
    width: 45%;
    border-radius: 8px;
    height: 40rem;

    object,iframe{
        width: 100%;
        height: 100%;
    }

    .tituloVista{
        display: flex;
        justify-content: space-between;
        padding:1rem;
    }
}

.ventanaCorreo{
    width: 55%;
    padding: 1rem;
    border-radius: 8px;

    .tituloCorreo{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        i {
            font-size: 1.5rem;
        }
    }

    .cuerpoCorreo{
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        column-gap: 10px;

        .correoIzq{
            border:1px solid  $bordeCajas;
            padding:1rem;
            border-radius: 8px;
            padding: 10px;

            .asunto{
                border:1px solid  $bordeCajas;
                padding:1rem;
                border-radius: 8px;
                padding: 10px;
                margin-bottom: 5px;

                input{
                    border:none;
                    border-bottom: 1px solid $bordeCajas;
                    outline: none;
                    width:80%;
                }
            }

            .opciones{
                margin-bottom: 5px;
            }
            .messaje{
                min-height: 20rem;
                max-height: 20rem;
                border: 1px solid black;
                padding: 10px;
                overflow:auto;

                div{
                    outline: none;
                    border-bottom: 1px dotted #c2c2c2;
                    line-height: 1.2rem;
                    font-size: .9rem;
                }
            }

            .atachs{
                height: 3rem;
                border: 1px dotted #c2c2c2;
                margin-top: 10px;
                display:flex;
                flex-direction:column;
                overflow:auto;
                padding: .5rem;

                li{
                    margin-right: 1px;
                    font-size: 0.7rem;
                    line-height: 1rem;
                    border:1px solid $blanco;

                    &:hover{
                        border:1px solid $bordeCajas;
                    }
                }
            }

            .commands{
                margin-top: 5px;
                text-align: right;
            }
        }

        .correoDerch{
            border:1px solid  $bordeCajas;
            padding: 1rem;
            
            h4{
                margin-bottom: 10px;
            }
        }


    }
}

.ventanaArchivos{
    width: 35%;
    padding: 1rem;
    border-radius: 8px;

    .tituloArchivos{
        display: flex;
        justify-content: space-between;

        i {
            font-size: 1.5rem;
        }
    }

    .listaArchivos {
        height: 35vh;
        border:1px solid $bordeCajas;
        margin: 5px 0;
        overflow: auto;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;

        li{
            width: 6rem;
            text-align: center;
            margin: 10px;

            i {
                font-size: 2rem;
            }

            p:nth-child(2) {
                font-size: 0.6rem;
                width: 110px;
                text-align: center;
                word-wrap: break-word;
            }
        }
    }

    .opcionesArchivos{
        display: flex;
        justify-content:center;

        button{
            padding: 1rem;
            width: 33%;
            margin-right: 10px;
        }
    }
}

.tabs_labels{
    display: flex;
    line-height: 1.5rem;
    display: flex;
    justify-content: space-around;

    a{
        display: block;
    }
}

//clase para la ventana de proceso
.ventanaProceso {
    //aca cambiar para el media query
    //width: 65%;

    .seccion_izquierda,.seccion_medio,.seccion_derecha{
        padding: 0;
    }

    .seccion_izquierda{
        width: 100%;
    }

    .barraOpciones {
        display: flex;
        justify-content:space-between;
        background:$fondoBarra;
        padding: 5px;
        
        >span {
            color:$blanco;
            line-height:2rem;
        }

        button {
            height:35px;
            padding:10px;
            border: 2px solid transparent;
            transition:.5s;

            &:hover{
                border:2px solid $negro;
            }
        }
    }

    .textAreaEnter{
        textarea {
            width: 100%;
            border:1px solid $sobreElemento;
            height: 2rem;
            padding: 5px;
        }
    }

    .dataProceso_2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .dataProceso{
        display: flex;
    }

    .dataProceso,.dataProceso_2{
        input {
            height: 35px;
            border:none;
            border:1px solid $sobreElemento;
            margin-top: 3px;
            font-size: .7rem;
            border-radius: 8px;

        }

        label {
            font-size: 0.7rem;
            font-weight: bold;
            margin-top: 10px;
        }  
    }

    table {
        tbody{
            tr{
                height: 30px;
                font-size: 0.7rem;
            }

            input[type="text"]{
                border: none !important;
                height: 1rem !important;
                width: 100%;
                outline: none;
            }

            select{
                width: 100%;
                height: 2rem;
                outline:none;
            }
        }
    }
}

.ventanaBusqueda{
    //width:65%;

    input[type="text"] {
        height: 35px;
        border:none;
        border:1px solid #c2c2c2;
    }

    .tablaBusqueda{
        height: 20rem;
        overflow:auto;
        padding: 0 10px;

        tbody {
            tr {
                cursor:pointer;
            }
        }
    }

    .tituloVentana {
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        background:$barraVentana;
        height: 2rem;
        padding: 7px;
        color: $blanco;
        font-weight: bold;
    }

    .textoBusqueda{
        padding:10px;
    }
}

.ventanaProceso,.ventanaDialogo {
    width: 20%;
}

.ventanaComentarios{
    width: 33%;
    padding:1rem;
    border-radius: 20px;
}

.ventanaPregunta,.ventanaDialogo,.ventanaComentarios{
    text-align: center;
    padding: 20px;
    line-height: 3rem;
    
    button {
        border:none;
        width: 45%;
        line-height: 2.5rem;
        background:$fondoBotones;
        color:$blanco;
        transition:.5s;
        
        &:hover{
            color: $negro;
            background:$fondo_menus;
        }
    }
}

.pestanasUsuario{
    height: 20rem;
    overflow: auto;
}


.separadorItem{
    background:$fondo_menus;
    color: $blanco;
}

.tablaPointer{
    cursor: pointer;
}

//tablas en  los formularios

.tablaInterna {
    overflow:auto;
    max-height: 25vh;
}

.tablainterna3columnas{
    th:nth-child(1),th:nth-child(3) {
        width:10%;
    }
}

.tablainterna4columnas{
    th:nth-child(1),th:nth-child(3) {
        width:15%;
    }
}

//tabla Principak
.tabla3columnas{
    th:nth-child(1),th:nth-child(3) {
        width:5% ;
        padding-left: 20px;
    }
}

.tabla4columnas{
    th:nth-child(1),th:nth-child(2),th:nth-child(4) {
        width:5% !important;
    }
}

.tabla6columnas{
    th:nth-child(1),th:nth-child(6) {
        width:5% !important;
    }

    th:nth-child(2),th:nth-child(4) {
        width:20% !important;
    }
}

.tabla7columnas{
    th:nth-child(1),th:nth-child(6),th:nth-child(7) {
        width:5% !important;
    }
}

.celdaAsignado{
    word-break: break-all !important;
    white-space: nowrap !important;
    width : 150px !important;
}

.tabla,.tablaWrap{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.7rem;

    thead {
        background:$negro;
        color:$blanco;
        height: 30px;
        font-size: .8rem;
    }

    tbody {
        tr{
            td{
                border: 1px solid  $lineasTabla;
                line-height:1.5rem;

                input[type="number"],input[type="text"],input[type="date"]{
                    width: 100%;
                    height: 2rem;
                    padding-right: 10px;
                    background:transparent;
                    outline: none;
                }

                input[type="number"]{
                    text-align: right;
                }
            }

            &:hover{
                background:rgba(255,255,43,.7);
            }
        }
   
    }
}

.tablaWrap{
    tbody {
        tr{
            td{
                border: 1px solid  $lineasTabla;
                overflow: hidden;
                white-space: break-spaces;
                transition: 5s;
            }
        }
    }
}

.tabs_labels {
    a {
        display: block;
        width: 19rem;
        text-align: center;
        transition: .5s;

        &:hover{
            background: $sobreElemento;
        }
    }

    .seleccionado {
        color: $blanco;
        background:$negro;
    }
}


.w35por{
    width: 35%;
}

.w50por{
    width: 50%;
}

.w65por{
    width: 65%;
}

.w75por{
    width: 75%;
}

.w90por{
    width: 90%;
}

.w100por{
    width: 100%;
}

//modificar esto para la resolucion de la pantalla
.tamanioProceso{
    width: 70%;
}

.tamanioProceso80{
    width: 80%;
}

//altos
.mininoTablaInterna{
    min-height: 15rem;
}

//margenes

.izq20px{
    margin-left: 20px;
}


//processos
.estado{
    font-weight:900;
}

.procesando,.consulta,.aprobacion,.estudio,.conformidad{
    font-size: 0.5rem !important;
}

.procesando{
    background: $procesando;
    
}

.consulta{
    background: $consulta;
}

.aprobacion{
    background: $aprobacion;
}

.aprobado{
    background: $aprobado;
}

.cotizacion {
    background: $cotizando;
}

.estudio {
    background: $estudio;
}

.adjudicado {
    background: $adjudicado;
}

.conformidad  {
    background: $conformidad;
}