@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colortexto : #000;
    --colorlinea : #3211FF;
    --color: #17a2ff;
    --fondoboton:#03cc57;
}

a{
    text-decoration: none;
    color: var(--colortexto);
}

.centro{
  text-align: center;
}


body {
    background:#333;
    background-image: url('../img/backnav.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
}

#barra{
  position: fixed;
  top: 0;
  left: 0;
  height: 15px;
  background: linear-gradient(90deg,#17a2ff,#3211FF);
  width: 0%;
  z-index: 9999;
}

.oculto{
    display: none;
}

.obligatorio{
    border-color: red !important;
}

.valido{
    border-color: rgb(136, 255, 0) !important;
}

.btn {
	position: relative;
	padding: 10px  25px;
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
	transition: all 0.6s ease;
	z-index: 2;
    cursor: pointer;
}

.btn-1{
	overflow: hidden;
	border: 3px solid var(--fondoboton);
	z-index: 1;
}

.btn-1::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 200%;
	left: 0;
	top: -200%;
	background-color: var(--fondoboton);
	border-radius: 50%;
	z-index: -1;
	transition: all 0.6s ease;
}

.btn-1:hover::before{
	top: 0;
	border-radius: 0%;
}

.wrap{
    background-color:#fff;
    width: 60%;
    padding: 1rem;
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;

    .wrap__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 4px solid var(--colorlinea);
        padding-bottom: 1rem;

        span{
            font-weight: 800;
            font-size: 1.5rem;
            letter-spacing: 1px;
        }
    }

    .wrap__options{
      background: #03cc57;
    }

    .seccion_pagina:not(:last-child){
        border-bottom: 4px solid var(--colorlinea);
    }

    .seccion_pagina{
        padding: .5rem;
       
        .nota1{
            font-size: 0.9rem;
            font-style: italic;
            margin-bottom: .5rem;
        }

        .contenedor_detalles{
            display: flex;
            justify-content: space-between;

            .detalle{
                font-weight: bold;
            }
        }

        .seccion_data{
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: .5rem;

            label{
                font-weight: bold;
            }

            input,select{
                border: 1px solid #c2c2c2;
                height: 3rem;
                border-radius: .5rem;
            }

            input,select{
                padding-left: 20px;
            }
        }

        .opciones{
            display: flex;
            margin-top: 2rem;
            justify-content: space-between;
        }

        .tabla_bancos{
           border-collapse: collapse;
            width: 100%;

            thead {
                background-color: var(--colorlinea);
                color: #fff;
                height: 2rem;
            }

            tbody {
                tr{
                    border-bottom: 1px dotted #c2c2c2;

                    td {
                        input,select{
                            border: none;
                            width: 100%;
                            outline: none;
                            height: 2rem;
                        }
                    }
               };
            }
        }

        .tabla_adjuntos{
            border-collapse: collapse;
            width: 100%;

            thead {
                background-color: var(--colorlinea);
                color: #fff;
                height: 2rem;
            }

          tbody {
                tr:nth-child(even) {
                  background-color: #f2f2f2; /* Light gray */
                }

                tr:nth-child(odd) {
                  background-color: #ffffff; /* White */
                }

                tr{
                    border-bottom: 1px dotted #c2c2c2;
                    line-height: 2.5rem;

                    .texto_adjunto{
                      font-size: .8em;
                      line-height: normal;
                    }

                    td{
                      text-transform: uppercase;
                      font-size: 0.7em;
                      padding-left: 10px;

                      .fa-download,.fa-upload{
                        color: green;
                      }

                      .fa-ban{
                        color: crimson;
                      }

                      i {
                        font-size: 1.2rem;
                      }
                    }

                };
        }
        }

    }
}

.modal{
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
}

.container-input {
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-input a {
    margin-top: 1em;
}

.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn-container {
    margin: 0 auto;
}
.btn-container:before{
    margin-top: 4em;
    content:'';
    display:inline-block;
    vertical-align:middle;
  }
  .btn-download{
    width: 100%;
    background:var(--fondoboton);
    color:#000;
    border:none;
    position:relative;
    font-size:1em;
    /* padding:0 2em; */
    padding: 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .btn-download:hover{
    background:#fff;
    color:var(--fondoboton);
  }
  .btn-download:before,.btn-download:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: var(--fondoboton);
    transition:400ms ease all;
  }
  .btn-download:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-download:hover:before,.btn-download:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  .container-form-pass {
    width: 40%;
    margin: 0 auto;
  }

  .modal-content .container-form-pass form .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-bottom: 1em;
  }

  .modal-content .container-form-pass form .password input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1em;
  }

  .modal-content .container-form-pass form .password input::-moz-placeholder {
    color: gray;
    font-size: 1em;
  }
  .modal-content .container-form-pass form .password input:-ms-input-placeholder {
    color: gray;
    font-size: 1em;
  }
  .modal-content .container-form-pass form .password input::placeholder {
    color: gray;
    font-size: 1em;
  }
  .modal-content .container-form-pass form .password ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
  }

  .modal-content .container-form-pass form .buttons {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
  }
  .modal-content .container-form-pass form .buttons .change-pass {
    display: block;
    padding: 1em;
    background: #3211FF;;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 1s;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
  }


  /*botones flotantes */
  .floating{
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 25px;
    right: 100px;
    gap: 5px;

    a {
      color: #fff;
      font-size: 1.8rem;
      background: rgb(192, 192, 4);
      clip-path: circle(45% at 50% 50%);
      padding: 1rem;
      transition: color .5s linear;

      &:hover{
        color: #000;
      }
    }
  }