@charset "UTF-8";
@import "modals.css";
@import "modulo.css";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

ul, li {
  list-style: none;
}

input[type=text], input[type=mail], input[type=password], input[type=date] {
  padding-left: 10px;
  padding-left: 10px;
  border: 1px solid #c2c2c2;
  line-height: 2rem;
}

textarea {
  resize: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.activo {
  background: #7DCB3D;
}

.boton3 {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
          box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ededed), to(#dfdfdf));
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #595959;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #595959;
  font-family: Arial;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  padding: 5px;
}
.boton3:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dfdfdf), to(#ededed));
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
  color: #000;
  font-weight: bold;
}
.boton3:active {
  position: relative;
  top: 1px;
}

.boton4 {
  background-color: #f49999;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 10px 39px;
  text-decoration: none;
}
.boton4:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f55555), to(#e20606));
  background: linear-gradient(to bottom, #f55555 5%, #e20606 100%);
  background-color: #fe2c2c;
  color: #fff;
  font-weight: bold;
}
.boton4:active {
  position: relative;
  top: 1px;
}

.acordeon {
  color: #fff;
  background: #4b4a4a;
  padding: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 86vh;
  overflow: auto;
}
.acordeon .link {
  display: block;
  display: block;
  padding: 10px 15px 15px 4px;
  color: white;
  font-size: 0.7rem;
  border-bottom: 1px solid #ccc;
  position: relative;
  font-weight: 700;
  cursor: pointer;
}
.acordeon .link span {
  padding-left: 10px;
}
.acordeon .link .fa-chevron-down {
  position: absolute;
  right: 0;
  top: 12px;
}
.acordeon .submenu {
  font-size: 0.9rem;
  display: none;
}
.acordeon .submenu li {
  position: relative;
  margin-top: 10px;
}
.acordeon .submenu a {
  padding: 6px;
  padding-left: 15px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: block;
}
.acordeon .submenu a:hover {
  background-color: lightgrey;
  color: #000;
  border-left: 3px solid black;
  font-weight: bold;
}
.acordeon .submenu .visitado {
  background-color: #000;
  color: #fff;
}
.acordeon .open .link {
  color: #fff;
  background: #296384; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#190A05), to(#201f1f));
  background: linear-gradient(to right, #190A05, #201f1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 0.9rem;
}
.acordeon .open i {
  color: #fff;
}
.acordeon .open .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.inactivo {
  background: #EF1313;
}

.areaTrabajo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12% 85%;
  grid-template-columns: 12% 85%;
  background: #fff;
  height: 90vh;
}
.areaTrabajo .menu {
  background-color: #000;
  color: #fff;
}
.areaTrabajo .menu a {
  color: #fff;
}
.areaTrabajo .menu div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  border-top: 1px solid #fff;
}
.areaTrabajo .menu div:nth-child(1) i {
  font-size: 1.5rem;
  margin-right: 10px;
}
.areaTrabajo .menu .catalogo {
  color: #fff;
}
.areaTrabajo .ventana {
  overflow: auto;
}
.areaTrabajo .ventana .cargaModulo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
}

.cabecera, .pie {
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cabecera div, .pie div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.cabecera div ul, .pie div ul {
  background: #fff;
  position: absolute;
  top: 65px;
  right: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #000 !important;
  display: none;
}
.cabecera div ul li a, .pie div ul li a {
  display: block;
  font-size: 0.9rem;
  padding: 2px 5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.cabecera div ul li a:hover, .pie div ul li a:hover {
  background: #005D84;
  color: #fff;
}
.cabecera div h1, .pie div h1 {
  background: #005D84;
  font-size: 1.2rem;
  padding: 9px 12px;
  border-radius: 50%;
}
.cabecera div h1 a, .pie div h1 a {
  background: #005D84;
  color: #fff;
}

.bienes {
  background: rgba(80, 97, 252, 0.2);
}

.servicios {
  background: rgba(127, 238, 112, 0.2);
}

.cabecera {
  height: 4rem;
}

.desactivado {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

.flex_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mayusculas {
  text-transform: uppercase;
}

.minusculas {
  text-transform: lowercase;
}

.normal {
  background: #7DCB3D;
}

.urgente {
  background: #EF1313;
  color: #fff;
}

.resaltado_firma {
  font-weight: 900;
  background-color: #f3f3f3;
}

.pl5px {
  padding-left: 5px;
}

.pl10px {
  padding-left: 10px;
}

.pl20px {
  padding-left: 20px;
}

.pr5px {
  padding-right: 5px;
}

.pr10px {
  padding-right: 10px;
}

.pr15px {
  padding-right: 15px;
}

.pr20px {
  padding-right: 20px;
}

.pie {
  height: 2rem;
  color: #fff;
  background: #000;
  position: fixed; /*El div será ubicado con relación a la pantalla*/
  bottom: 0px; /*Abajo deje un espacio de 0px*/
}

.resaltado {
  background: yellow;
  border: 3px solid black !important;
  text-align: center !important;
  font-size: 1.2rem !important;
}

.eliminarItem {
  color: red;
  text-align: center !important;
}

.stickytop {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #000;
}

.textoCentro {
  text-align: center;
  padding: 0 5px;
}

.textoDerecha {
  text-align: right;
  padding-right: 5px;
}

.numeroTabla {
  text-align: right;
  padding-right: 20px;
}

.oculto {
  display: none;
}

.wrap {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.duplicate {
  cursor: copy;
}

.semaforoVerde {
  background: lightgreen;
}

.semaforoRojo {
  background: red;
}

.semaforoAmarillo {
  background: yellow;
}

.semaforoNaranja {
  background: gold;
}

.columnaGeneral {
  background: #40D1FB !important;
  color: #000 !important;
  padding: 0 5px;
}

.item_anulado {
  background: #c8c8c8;
}

.item_creado {
  background: #F8CAAD;
}

.item_aprobado {
  background: #ff0000;
}

.item_enviado {
  background: #C0DCC0;
}

.item_orden {
  background: #ffff00;
}

.item_parcial {
  background: #C0DCC0;
}

.item_ingreso_parcial {
  background: #ffffe1;
}

.item_ingreso_total {
  background: #A9D08F;
}

.item_registro_salida {
  background: #ff00ff;
}

.item_transito {
  background: #00ffff;
}

.item_obra, .entregado {
  background: #00ff00;
}

.item_registro_gerencia {
  background: #FFC000;
}

/*loader*/
.loadingio-spinner-spinner-5ulcsi06hlf {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ldio-fifgg00y5y {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; /* see note above */
}

.ldio-fifgg00y5y div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@-webkit-keyframes ldio-fifgg00y5y {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ldio-fifgg00y5y {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-fifgg00y5y div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: ldio-fifgg00y5y linear 1s infinite;
          animation: ldio-fifgg00y5y linear 1s infinite;
  background: #fff;
  width: 12px;
  height: 24px;
  border-radius: 6px/12px;
  -webkit-transform-origin: 6px 52px;
          transform-origin: 6px 52px;
}

.ldio-fifgg00y5y div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -0.9166666667s;
          animation-delay: -0.9166666667s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: -0.8333333333s;
          animation-delay: -0.8333333333s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.6666666667s;
          animation-delay: -0.6666666667s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: -0.5833333333s;
          animation-delay: -0.5833333333s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(7) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.4166666667s;
          animation-delay: -0.4166666667s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(8) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: -0.3333333333s;
          animation-delay: -0.3333333333s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(9) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(10) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.1666666667s;
          animation-delay: -0.1666666667s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(11) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: -0.0833333333s;
          animation-delay: -0.0833333333s;
  background: #fff;
}

.ldio-fifgg00y5y div:nth-child(12) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: #fff;
}

@media screen and (max-width: 1360px) {
  .menu {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .menu .titulo_menu h1 {
    font-size: 1rem;
  }
  .menu .titulo_menu i {
    font-size: 12px !important;
  }
  .acordeon .link {
    font-size: 0.5rem;
  }
  .acordeon .submenu a {
    font-size: 0.6rem;
  }
  .areaTrabajo .ventana {
    margin-left: 2rem;
    width: 100%;
  }
  .dashBoard {
    padding: 0;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
  .dashBoard > div {
    padding: 5px;
  }
  .dashBoard .area1_description {
    margin: 1rem 0 !important;
  }
  .dashBoard .area3 * {
    font-size: 0.55rem !important;
  }
  .barraTrabajo {
    font-size: 0.7rem;
  }
  .tamanioProceso {
    width: 100% !important;
  }
  .ventanaProceso {
    max-width: 95% !important;
  }
  .ventanaVistaPrevia {
    width: 93% !important;
    height: 85vh !important;
  }
}