.bienes {
  background: chartreuse;
}

.servicios {
  background: chocolate;
}

.cabezaModulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.cabezaModulo h3, .cabezaModulo h1, .cabezaModulo h2 {
  color: #797777;
}
.cabezaModulo a {
  color: #000;
  font-size: 1.5rem;
}
.cabezaModulo a:nth-child(1) {
  margin-right: 10px;
}

.controles_lineal {
  border: 1px solid #E0E0E0;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 0.3fr 30px 1fr;
  grid-template-columns: 30px 0.3fr 30px 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding: 0 19px;
  border-radius: 8px;
}

.controles_lineal > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.controles_lineal > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.controles_lineal > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.controles_lineal > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.column2, .column2_9, .column2_46, .column2_3957 {
  display: -ms-grid;
  display: grid;
  position: relative;
  padding: 5px;
}

.column2 {
  -ms-grid-columns: 5rem 1fr;
  grid-template-columns: 5rem 1fr;
}

.column2_9 {
  -ms-grid-columns: 9rem 1fr;
  grid-template-columns: 9rem 1fr;
}

.column2_46 {
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
}

.column2_3957 {
  -ms-grid-columns: 39% 57%;
  grid-template-columns: 39% 57%;
}

.column4items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
  grid-template-columns: 20px 1fr;
  -ms-grid-rows: 1fr -5px 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  padding: 0 13px;
  row-gap: -5px;
  border: 1px solid #c2c2c2;
  margin-top: 10px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.column4items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.column4items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.column4items > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.column4items > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.column4items label {
  margin-top: 14px !important;
}

.column4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  margin-left: -4px;
}

.column4_55 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}

.column4_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.column4_1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}
.column4_1 div input {
  margin-right: 20px;
}
.column4_1 div label {
  margin-top: 20px;
  display: inline-block;
}

.direccion_columna {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.barraTrabajo {
  border-top: 3px solid #012B3F;
  background: #0078D4;
}
.barraTrabajo .unaConsulta {
  color: #fff;
  padding: 5px 15px;
}
.barraTrabajo .unaConsulta input {
  width: 90%;
  height: 2rem;
  outline: none;
  border: none;
  padding-left: 20px;
  border-radius: 8px;
}
.barraTrabajo .variasConsultas {
  color: #fff;
  padding: 5px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 10px 1.5fr 10px 0.3fr 10px 0.3fr 10px 0.3fr;
  grid-template-columns: 0.3fr 1.5fr 0.3fr 0.3fr 0.3fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.barraTrabajo .variasConsultas label {
  line-height: 2rem;
}
.barraTrabajo .variasConsultas input, .barraTrabajo .variasConsultas select {
  height: 2rem;
  outline: none;
  border: none;
  padding-left: 20px;
  border-radius: 8px;
}
.barraTrabajo .variasConsultas div:nth-child(2) input {
  width: 70%;
}
.barraTrabajo .variasConsultas div:nth-child(3) input, .barraTrabajo .variasConsultas div:nth-child(4) input {
  width: 65%;
}

.tituloGrupo, .tituloClase {
  color: #fff;
  font-weight: bold;
  line-height: 2rem;
  font-size: 0.7rem;
}

.tituloGrupo {
  background: #005D84;
}

.tituloClase {
  background: #797777;
}

.itemsTabla {
  width: 100%;
  height: 73vh;
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
.itemsTabla table {
  width: 100%;
  border-collapse: collapse;
}
.itemsTabla table thead {
  background: #000;
  color: #fff;
  line-height: 1.5rem;
  font-size: 0.7rem;
}
.itemsTabla table tbody .pointer {
  cursor: pointer;
  height: 25px;
}
.itemsTabla table tbody .pointer td {
  border: 1px solid #616161;
  line-height: 1rem;
  font-size: 0.7rem;
}
.itemsTabla table tbody .pointer:hover {
  background: rgba(255, 255, 43, 0.7);
}

.lista {
  width: 85%;
  position: absolute;
  background: #fff;
  left: 88px;
  top: 39px;
  z-index: 3;
  border: 1px solid #c3c3c3;
  font-size: 0.8rem;
  -webkit-box-shadow: 3px 2px 6px;
          box-shadow: 3px 2px 6px;
  line-height: 1.5rem;
  padding: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
  max-height: 20rem;
  overflow: auto;
}
.lista a {
  display: block;
}
.lista a:hover {
  background: #c2c2c2;
}

.ventanaProceso,
.ventanaOpciones,
.ventanaBusqueda,
.ventanaPregunta,
.ventanaArchivos,
.ventanaVistaPrevia,
.ventanaCorreo,
.ventanaAdjuntos,
.ventanaDialogo,
.ventanaEspera {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 5px 8px 5px #000;
          box-shadow: 5px 8px 5px #000;
}

.ventanaProceso {
  border-radius: 8px;
}
.ventanaProceso .primeraBarra {
  border-radius: 8px 8px 0 0;
}

.ventanaAdjuntos {
  width: 45%;
  border-radius: 8px;
  height: 35rem;
}
.ventanaAdjuntos object, .ventanaAdjuntos iframe {
  width: 100%;
  height: 100%;
}
.ventanaAdjuntos .tituloAdjuntos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}
.ventanaAdjuntos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 6rem;
  width: 95%;
  border: 1px solid #E0E0E0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  overflow: auto;
}
.ventanaAdjuntos ul li {
  border: 1px solid #fff;
  height: 4rem;
}
.ventanaAdjuntos ul li a {
  display: block;
  text-align: center;
  width: 6rem;
  padding: 0.3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
}
.ventanaAdjuntos ul li a:hover {
  background: rgba(0, 120, 212, 0.4);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}
.ventanaAdjuntos ul li i {
  font-size: 2rem;
  margin-bottom: 5px;
}
.ventanaAdjuntos ul li p {
  font-size: 0.6rem;
  text-align: justify;
  height: 1.5rem;
  overflow: hidden;
}

.ventanaVistaPrevia {
  width: 45%;
  border-radius: 8px;
  height: 40rem;
}
.ventanaVistaPrevia object, .ventanaVistaPrevia iframe {
  width: 100%;
  height: 100%;
}
.ventanaVistaPrevia .tituloVista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.ventanaCorreo {
  width: 55%;
  padding: 1rem;
  border-radius: 8px;
}
.ventanaCorreo .tituloCorreo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.ventanaCorreo .tituloCorreo i {
  font-size: 1.5rem;
}
.ventanaCorreo .cuerpoCorreo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr 10px 1fr;
  grid-template-columns: 1.1fr 1fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.ventanaCorreo .cuerpoCorreo .correoIzq {
  border: 1px solid #E0E0E0;
  padding: 1rem;
  border-radius: 8px;
  padding: 10px;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .asunto {
  border: 1px solid #E0E0E0;
  padding: 1rem;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .asunto input {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  outline: none;
  width: 80%;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .opciones {
  margin-bottom: 5px;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .messaje {
  min-height: 20rem;
  max-height: 20rem;
  border: 1px solid black;
  padding: 10px;
  overflow: auto;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .messaje div {
  outline: none;
  border-bottom: 1px dotted #c2c2c2;
  line-height: 1.2rem;
  font-size: 0.9rem;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .atachs {
  height: 3rem;
  border: 1px dotted #c2c2c2;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  padding: 0.5rem;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .atachs li {
  margin-right: 1px;
  font-size: 0.7rem;
  line-height: 1rem;
  border: 1px solid #fff;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .atachs li:hover {
  border: 1px solid #E0E0E0;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .commands {
  margin-top: 5px;
  text-align: right;
}
.ventanaCorreo .cuerpoCorreo .correoDerch {
  border: 1px solid #E0E0E0;
  padding: 1rem;
}
.ventanaCorreo .cuerpoCorreo .correoDerch h4 {
  margin-bottom: 10px;
}

.ventanaArchivos {
  width: 35%;
  padding: 1rem;
  border-radius: 8px;
}
.ventanaArchivos .tituloArchivos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ventanaArchivos .tituloArchivos i {
  font-size: 1.5rem;
}
.ventanaArchivos .listaArchivos {
  height: 35vh;
  border: 1px solid #E0E0E0;
  margin: 5px 0;
  overflow: auto;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}
.ventanaArchivos .listaArchivos li {
  width: 6rem;
  text-align: center;
  margin: 10px;
}
.ventanaArchivos .listaArchivos li i {
  font-size: 2rem;
}
.ventanaArchivos .listaArchivos li p:nth-child(2) {
  font-size: 0.6rem;
  width: 110px;
  text-align: center;
  word-wrap: break-word;
}
.ventanaArchivos .opcionesArchivos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ventanaArchivos .opcionesArchivos button {
  padding: 1rem;
  width: 33%;
  margin-right: 10px;
}

.tabs_labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5rem;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.tabs_labels a {
  display: block;
}

.ventanaProceso .seccion_izquierda, .ventanaProceso .seccion_medio, .ventanaProceso .seccion_derecha {
  padding: 0;
}
.ventanaProceso .seccion_izquierda {
  width: 100%;
}
.ventanaProceso .barraOpciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0078D4;
  padding: 5px;
}
.ventanaProceso .barraOpciones > span {
  color: #fff;
  line-height: 2rem;
}
.ventanaProceso .barraOpciones button {
  height: 35px;
  padding: 10px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.ventanaProceso .barraOpciones button:hover {
  border: 2px solid #000;
}
.ventanaProceso .textAreaEnter textarea {
  width: 100%;
  border: 1px solid #c2c2c2;
  height: 2rem;
  padding: 5px;
}
.ventanaProceso .dataProceso_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.ventanaProceso .dataProceso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ventanaProceso .dataProceso input, .ventanaProceso .dataProceso_2 input {
  height: 35px;
  border: none;
  border: 1px solid #c2c2c2;
  margin-top: 3px;
  font-size: 0.7rem;
  border-radius: 8px;
}
.ventanaProceso .dataProceso label, .ventanaProceso .dataProceso_2 label {
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 10px;
}
.ventanaProceso table tbody tr {
  height: 30px;
  font-size: 0.7rem;
}
.ventanaProceso table tbody input[type=text] {
  border: none !important;
  height: 1rem !important;
  width: 100%;
  outline: none;
}
.ventanaProceso table tbody select {
  width: 100%;
  height: 2rem;
  outline: none;
}

.ventanaBusqueda input[type=text] {
  height: 35px;
  border: none;
  border: 1px solid #c2c2c2;
}
.ventanaBusqueda .tablaBusqueda {
  height: 20rem;
  overflow: auto;
  padding: 0 10px;
}
.ventanaBusqueda .tablaBusqueda tbody tr {
  cursor: pointer;
}
.ventanaBusqueda .tituloVentana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  background: #CF677E;
  height: 2rem;
  padding: 7px;
  color: #fff;
  font-weight: bold;
}
.ventanaBusqueda .textoBusqueda {
  padding: 10px;
}

.ventanaPregunta, .ventanaDialogo {
  width: 20%;
  text-align: center;
  padding: 20px;
  line-height: 3rem;
}
.ventanaPregunta button, .ventanaDialogo button {
  border: none;
  width: 45%;
  line-height: 2.5rem;
  background: #797777;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.ventanaPregunta button:hover, .ventanaDialogo button:hover {
  color: #000;
  background: #005D84;
}

.pestanasUsuario {
  height: 20rem;
  overflow: auto;
}

.separadorItem {
  background: #005D84;
  color: #fff;
}

.tablaPointer {
  cursor: pointer;
}

.tablaInterna {
  overflow: auto;
  max-height: 25vh;
}

.tablainterna3columnas th:nth-child(1), .tablainterna3columnas th:nth-child(3) {
  width: 10%;
}

.tablainterna4columnas th:nth-child(1), .tablainterna4columnas th:nth-child(3) {
  width: 15%;
}

.tabla3columnas th:nth-child(1), .tabla3columnas th:nth-child(3) {
  width: 5%;
  padding-left: 20px;
}

.tabla4columnas th:nth-child(1), .tabla4columnas th:nth-child(2), .tabla4columnas th:nth-child(4) {
  width: 5% !important;
}

.tabla6columnas th:nth-child(1), .tabla6columnas th:nth-child(6) {
  width: 5% !important;
}
.tabla6columnas th:nth-child(2), .tabla6columnas th:nth-child(4) {
  width: 20% !important;
}

.tabla7columnas th:nth-child(1), .tabla7columnas th:nth-child(6), .tabla7columnas th:nth-child(7) {
  width: 5% !important;
}

.celdaAsignado {
  word-break: break-all !important;
  white-space: nowrap !important;
  width: 150px !important;
}

.tabla, .tablaWrap {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.7rem;
}
.tabla thead, .tablaWrap thead {
  background: #000;
  color: #fff;
  height: 35px;
  font-size: 0.8rem;
}
.tabla tbody tr td, .tablaWrap tbody tr td {
  border: 1px solid #616161;
  line-height: 1.5rem;
}
.tabla tbody tr td input[type=number], .tablaWrap tbody tr td input[type=number] {
  width: 100%;
  height: 2rem;
  text-align: right;
  padding-right: 10px;
}
.tabla tbody:hover, .tablaWrap tbody:hover {
  background: rgba(255, 255, 43, 0.7);
}

.tablaWrap tbody tr td {
  border: 1px solid #616161;
  overflow: hidden;
  white-space: break-spaces;
  -webkit-transition: 5s;
  transition: 5s;
}

.tabs_labels a {
  display: block;
  width: 19rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.tabs_labels a:hover {
  background: #c2c2c2;
}
.tabs_labels .seleccionado {
  color: #fff;
  background: #000;
}

.w35por {
  width: 35%;
}

.w50por {
  width: 50%;
}

.w65por {
  width: 65%;
}

.w75por {
  width: 75%;
}

.w90por {
  width: 90%;
}

.w100por {
  width: 100%;
}

.tamanioProceso {
  width: 70%;
}

.tamanioProceso80 {
  width: 80%;
}

.mininoTablaInterna {
  min-height: 15rem;
}

.izq20px {
  margin-left: 20px;
}

.estado {
  font-weight: 900;
}

.procesando, .consulta, .aprobacion, .estudio, .conformidad {
  font-size: 0.5rem !important;
}

.procesando {
  background: #FFCA28;
}

.consulta {
  background: #D7FF67;
}

.aprobacion {
  background: #C9E2F4;
}

.aprobado {
  background: #04AA6D;
}

.cotizacion {
  background: #EFEF13;
}

.estudio {
  background: #C0CA33;
}

.adjudicado {
  background: rgba(145, 93, 152, 0.5);
}

.conformidad {
  background: #27798F;
}