.bienes {
  background: chartreuse;
}

.servicios {
  background: chocolate;
}

.cabezaModulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.cabezaModulo h3, .cabezaModulo h1, .cabezaModulo h2 {
  color: #797777;
}
.cabezaModulo a {
  color: #000;
  font-size: 1.5rem;
}
.cabezaModulo a:nth-child(1) {
  margin-right: 10px;
}

.controles_lineal {
  border: 1px solid #E0E0E0;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 0.3fr 30px 1fr;
  grid-template-columns: 30px 0.3fr 30px 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding: 0 19px;
  border-radius: 8px;
}

.controles_lineal > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.controles_lineal > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.controles_lineal > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.controles_lineal > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.column2, .column2_9, .column2_46, .column2_3957 {
  display: -ms-grid;
  display: grid;
  position: relative;
  padding: 2px 5px;
}

.column2 {
  -ms-grid-columns: 5rem 1fr;
  grid-template-columns: 5rem 1fr;
}

.column2_9 {
  -ms-grid-columns: 9rem 1fr;
  grid-template-columns: 9rem 1fr;
}

.column2_46 {
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
}

.column2_3957 {
  -ms-grid-columns: 39% 57%;
  grid-template-columns: 39% 57%;
}

.column4items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
  grid-template-columns: 20px 1fr;
  -ms-grid-rows: 1fr -5px 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  padding: 0 13px;
  row-gap: -5px;
  border: 1px solid #c2c2c2;
  margin-top: 10px;
  border-radius: 8px;
}

.column4items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.column4items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.column4items > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.column4items > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.column4items label {
  margin-top: 14px !important;
}

.column4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  margin-left: -4px;
}

.column4_55 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}

.column4_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.column4_1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}
.column4_1 div input {
  margin-right: 20px;
}
.column4_1 div label {
  margin-top: 20px;
  display: inline-block;
}

.column4_7_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 10px 1fr 10px 110px 10px 1fr;
  grid-template-columns: 70px 1fr 110px 1fr;
  margin-left: 6px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.dashBoard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 1rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 1rem;
}

.dashBoard > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.dashBoard > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.dashBoard > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.dashBoard > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.dashBoard > div {
  border: 1px solid #012B3F;
  padding: 1rem;
  -webkit-box-shadow: 3px 5px 5px #c3c3c3;
          box-shadow: 3px 5px 5px #c3c3c3;
}
.dashBoard > div .titulo {
  font-weight: bold;
  color: #000;
}
.dashBoard .area1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}
.dashBoard .area1 .area1_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3rem 0;
}
.dashBoard .area1 .area1_description .area1_section {
  display: inherit;
  line-height: 2rem;
  color: #000;
}
.dashBoard .area1 .area1_description .area1_section i:nth-child(1) {
  padding: 2rem;
  border-radius: 50%;
}
.dashBoard .area1 .area1_description .area1_section div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.dashBoard .area1 .area1_description .area1_section div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 1rem;
}
.dashBoard .area1 .area1_description .area1_section div:nth-child(2) p:nth-child(2) {
  font-size: 2rem;
  font-weight: bold;
}
.dashBoard .area1 .area1_description .area1_section div:nth-child(2) p:nth-child(3) {
  font-size: 0.7rem !important;
}
.dashBoard .area1 .area1_description .area1_section:nth-child(1) i {
  background: #FABD1C !important;
}
.dashBoard .area1 .area1_description .area1_section:nth-child(2) i {
  background: #DF3D62 !important;
}
.dashBoard .area1 .area1_description .area1_section:nth-child(3) i {
  background: #58CA90 !important;
}
.dashBoard .area1 .area1_command {
  text-align: center;
}
.dashBoard .area1 .area1_command button {
  border: none;
  padding: 1rem;
  width: 100%;
  margin-top: 25px;
  border-radius: 8px;
  color: #fff;
  background: #518FFB;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 35%;
}
.dashBoard .area1 .area1_command button:hover {
  -webkit-box-shadow: 2px 3px 5px #000;
          box-shadow: 2px 3px 5px #000;
}
.dashBoard .area2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}
.dashBoard .area2 #myChart {
  height: 320px;
  width: 500px;
  margin: 0 auto;
}
.dashBoard .area3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}
.dashBoard .area3 .dashboard_table {
  margin-top: 20px;
}

.direccion_columna {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.barraTrabajo {
  border-top: 3px solid #012B3F;
  background: #0078D4;
}
.barraTrabajo .unaConsulta {
  color: #fff;
  padding: 5px 15px;
}
.barraTrabajo .unaConsulta input {
  width: 90%;
  height: 2rem;
  outline: none;
  border: none;
  padding-left: 20px;
  border-radius: 8px;
}
.barraTrabajo .variasConsultas {
  color: #fff;
  padding: 5px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 10px 1.2fr 10px 0.3fr 10px 0.3fr 10px 0.3fr;
  grid-template-columns: 0.3fr 1.2fr 0.3fr 0.3fr 0.3fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.barraTrabajo .variasConsultas label {
  line-height: 2rem;
}
.barraTrabajo .variasConsultas input, .barraTrabajo .variasConsultas select {
  height: 2rem;
  outline: none;
  border: none;
  padding-left: 20px;
  border-radius: 8px;
}
.barraTrabajo .variasConsultas div:nth-child(2) input {
  width: 70%;
}
.barraTrabajo .variasConsultas div:nth-child(3) input, .barraTrabajo .variasConsultas div:nth-child(4) input {
  width: 65%;
}
.barraTrabajo .variasConsultasColumna {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 10%;
  grid-template-columns: 1fr 10%;
  padding: 5px 15px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.barraTrabajo .variasConsultasColumna .datosConsulta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr 10px 0.3fr;
  grid-template-columns: repeat(25, 0.3fr);
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 25;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 27;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 29;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(16) {
  -ms-grid-row: 1;
  -ms-grid-column: 31;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(17) {
  -ms-grid-row: 1;
  -ms-grid-column: 33;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(18) {
  -ms-grid-row: 1;
  -ms-grid-column: 35;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(19) {
  -ms-grid-row: 1;
  -ms-grid-column: 37;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(20) {
  -ms-grid-row: 1;
  -ms-grid-column: 39;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(21) {
  -ms-grid-row: 1;
  -ms-grid-column: 41;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(22) {
  -ms-grid-row: 1;
  -ms-grid-column: 43;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(23) {
  -ms-grid-row: 1;
  -ms-grid-column: 45;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(24) {
  -ms-grid-row: 1;
  -ms-grid-column: 47;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(25) {
  -ms-grid-row: 1;
  -ms-grid-column: 49;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(33) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(34) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 19;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 21;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(37) {
  -ms-grid-row: 3;
  -ms-grid-column: 23;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(38) {
  -ms-grid-row: 3;
  -ms-grid-column: 25;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(39) {
  -ms-grid-row: 3;
  -ms-grid-column: 27;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(40) {
  -ms-grid-row: 3;
  -ms-grid-column: 29;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(41) {
  -ms-grid-row: 3;
  -ms-grid-column: 31;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(42) {
  -ms-grid-row: 3;
  -ms-grid-column: 33;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(43) {
  -ms-grid-row: 3;
  -ms-grid-column: 35;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(44) {
  -ms-grid-row: 3;
  -ms-grid-column: 37;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(45) {
  -ms-grid-row: 3;
  -ms-grid-column: 39;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(46) {
  -ms-grid-row: 3;
  -ms-grid-column: 41;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(47) {
  -ms-grid-row: 3;
  -ms-grid-column: 43;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(48) {
  -ms-grid-row: 3;
  -ms-grid-column: 45;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(49) {
  -ms-grid-row: 3;
  -ms-grid-column: 47;
}
.barraTrabajo .variasConsultasColumna .datosConsulta > *:nth-child(50) {
  -ms-grid-row: 3;
  -ms-grid-column: 49;
}
.barraTrabajo .variasConsultasColumna .datosConsulta label {
  color: #fff;
  display: block;
}
.barraTrabajo .variasConsultasColumna .datosConsulta input, .barraTrabajo .variasConsultasColumna .datosConsulta select {
  height: 1.7rem;
  width: 100%;
  outline: none;
  border-radius: 5px;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  grid-row: 1;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 20px;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 12;
  grid-column: 7/19;
  -ms-grid-row: 1;
  grid-row: 1;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item5 {
  -ms-grid-column: 19;
  grid-column: 19;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 20px;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item6 {
  -ms-grid-column: 20;
  -ms-grid-column-span: 2;
  grid-column: 20/22;
  -ms-grid-row: 1;
  grid-row: 1;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item7 {
  -ms-grid-column: 22;
  grid-column: 22;
  -ms-grid-row: 1;
  grid-row: 1;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item8 {
  -ms-grid-column: 23;
  -ms-grid-column-span: 2;
  grid-column: 23/25;
  -ms-grid-row: 1;
  grid-row: 1;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item10 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  grid-row: 2;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item11 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-left: 20px;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item12 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  -ms-grid-row: 2;
  grid-row: 2;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item13 {
  -ms-grid-column: 13;
  -ms-grid-column-span: 2;
  grid-column: 13/15;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-left: 20px;
}
.barraTrabajo .variasConsultasColumna .datosConsulta .item14 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 10;
  grid-column: 15/25;
  -ms-grid-row: 2;
  grid-row: 2;
}

.tituloGrupo, .tituloClase {
  color: #fff;
  font-weight: bold;
  line-height: 2rem;
  font-size: 0.7rem;
}

.tituloGrupo {
  background: #005D84;
}

.tituloClase {
  background: #797777;
}

.itemsTabla {
  width: 100%;
  height: 73vh;
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
.itemsTabla table {
  width: 100%;
  border-collapse: collapse;
}
.itemsTabla table thead {
  background: #000;
  color: #fff;
  font-size: 0.7rem;
  height: 1.2rem;
}
.itemsTabla table tbody .pointer {
  cursor: pointer;
  height: 25px;
}
.itemsTabla table tbody .pointer td {
  border: 1px solid #616161;
  line-height: 1rem;
  font-size: 0.7rem;
}
.itemsTabla table tbody .pointer:hover {
  background: rgba(255, 255, 43, 0.7);
}

.lista {
  width: 85%;
  position: absolute;
  background: #fff;
  left: 88px;
  top: 39px;
  z-index: 99;
  border: 1px solid #c3c3c3;
  font-size: 0.8rem;
  -webkit-box-shadow: 3px 2px 6px;
          box-shadow: 3px 2px 6px;
  line-height: 1.5rem;
  padding: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
  max-height: 20rem;
  overflow: auto;
}
.lista a {
  display: block;
}
.lista a:hover {
  background: #c2c2c2;
}

.ventanaProceso,
.ventanaOpciones,
.ventanaBusqueda,
.ventanaPregunta,
.ventanaArchivos,
.ventanaVistaPrevia,
.ventanaCorreo,
.ventanaAdjuntos,
.ventanaDialogo,
.ventanaEspera,
.ventanaComentarios,
.ventanaDocumento,
.ventanaResumen {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 5px 8px 5px #000;
          box-shadow: 5px 8px 5px #000;
}

.ventanaResumen {
  border-radius: 8px;
}
.ventanaResumen .tituloDocumento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 5px;
}
.ventanaResumen p {
  display: block;
  margin-bottom: 20px;
}
.ventanaResumen input {
  border: 1px solid #c2c2c2 !important;
  height: 2rem;
  width: 100%;
  outline: none;
  font-size: 0.7rem;
}
.ventanaResumen label {
  font-weight: bold;
  font-size: 0.7rem;
}
.ventanaResumen a {
  text-align: right;
  font-size: 1.5rem;
  margin-right: 20px;
}
.ventanaResumen section {
  display: -ms-grid;
  display: grid;
  padding: 0 1rem;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  margin-bottom: 20px;
}
.ventanaResumen section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.ventanaResumen .seccion1 {
  -ms-grid-columns: 15% 55% 8% 8% 12%;
  grid-template-columns: 15% 55% 8% 8% 12%;
}
.ventanaResumen .seccion2 {
  -ms-grid-columns: 1fr 5% 1fr 1fr 1.5fr 1fr;
  grid-template-columns: 1fr 5% 1fr 1fr 1.5fr 1fr;
}
.ventanaResumen .seccion3 {
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}
.ventanaResumen .seccion3 a {
  margin-left: 30px;
}
.ventanaResumen .seccion4 {
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}
.ventanaResumen .seccion5 {
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}
.ventanaResumen .porcentaje {
  background: rgb(33, 167, 227);
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 167, 227, 0.1853116246)), color-stop(50%, rgb(93, 185, 223)), to(rgb(0, 255, 218)));
  background: linear-gradient(90deg, rgba(33, 167, 227, 0.1853116246) 0%, rgb(93, 185, 223) 50%, rgb(0, 255, 218) 100%);
  position: relative;
  height: 2rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 0;
}
.ventanaResumen .porcentaje span {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  bottom: 0;
  font-size: 0.8rem;
}

.ventanaProceso {
  border-radius: 8px;
  position: relative;
  min-width: 25%;
  max-width: 90%;
}
.ventanaProceso .primeraBarra {
  border-radius: 8px 8px 0 0;
}

.ventanaAdjuntos {
  width: 45%;
  border-radius: 8px;
  height: 35rem;
}
.ventanaAdjuntos object, .ventanaAdjuntos iframe {
  width: 100%;
  height: 100%;
}
.ventanaAdjuntos .tituloAdjuntos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}
.ventanaAdjuntos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 6rem;
  width: 95%;
  border: 1px solid #E0E0E0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  overflow: auto;
}
.ventanaAdjuntos ul li {
  border: 1px solid #fff;
  height: 4rem;
}
.ventanaAdjuntos ul li a {
  display: block;
  text-align: center;
  width: 6rem;
  padding: 0.3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
}
.ventanaAdjuntos ul li a:hover {
  background: rgba(0, 120, 212, 0.4);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}
.ventanaAdjuntos ul li i {
  font-size: 2rem;
  margin-bottom: 5px;
}
.ventanaAdjuntos ul li p {
  font-size: 0.6rem;
  text-align: justify;
  height: 1.5rem;
  overflow: hidden;
}

.ventanaVistaPrevia {
  width: 45%;
  border-radius: 8px;
  height: 40rem;
}
.ventanaVistaPrevia object, .ventanaVistaPrevia iframe {
  width: 100%;
  height: 100%;
}
.ventanaVistaPrevia .tituloVista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.ventanaDocumento {
  border-radius: 8px;
}
.ventanaDocumento input {
  border: 1px solid #c3c3c3 !important;
  height: 1.6rem !important;
}
.ventanaDocumento .tituloDocumento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}
.ventanaDocumento .tituloDocumento p {
  display: inline-block;
}
.ventanaDocumento .dos_columnas {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.ventanaDocumento .dos_columnas label {
  font-weight: bold;
  font-size: 0.7rem;
}
.ventanaDocumento .dos_columnas input[type=text], .ventanaDocumento .dos_columnas textarea {
  font-size: 0.7rem !important;
}
.ventanaDocumento .dos_columnas input[type=number] {
  font-size: 0.7rem !important;
  text-align: right;
}
.ventanaDocumento .dos_columnas p {
  margin: 1rem 0;
  border-bottom: 1px solid #c3c3c3;
}
.ventanaDocumento .dos_columnas .dos_columnas_interna {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 28% 3px 1fr;
  grid-template-columns: 28% 1fr;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
  row-gap: 5px;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 28% 3px 1fr 3px 28% 3px 1fr;
  grid-template-columns: repeat(2, 28% 1fr);
  -ms-grid-rows: ;
  grid-template-rows: repeat(8 1fr);
  row-gap: 0.5rem;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna .uno {
  -ms-grid-column: 1;
  grid-column: 1;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna .dos {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna .tres {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna .rowTwo {
  -ms-grid-row: 2;
  grid-row: 2;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna .rowThree {
  -ms-grid-row: 3;
  grid-row: 3;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna .rowFive {
  -ms-grid-row: 5;
  grid-row: 5;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna .rowSix {
  -ms-grid-row: 6;
  grid-row: 6;
}
.ventanaDocumento .dos_columnas .cuatro_columnas_interna .rowSeven {
  -ms-grid-row: 7;
  grid-row: 7;
}
.ventanaDocumento .dos_columnas textarea {
  border: 1px solid #c3c3c3;
  padding: 3px;
}

.ventanaCorreo {
  width: 55%;
  padding: 1rem;
  border-radius: 8px;
}
.ventanaCorreo .tituloCorreo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.ventanaCorreo .tituloCorreo i {
  font-size: 1.5rem;
}
.ventanaCorreo .cuerpoCorreo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr 10px 1fr;
  grid-template-columns: 1.1fr 1fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.ventanaCorreo .cuerpoCorreo .correoIzq {
  border: 1px solid #E0E0E0;
  padding: 1rem;
  border-radius: 8px;
  padding: 10px;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .asunto {
  border: 1px solid #E0E0E0;
  padding: 1rem;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .asunto input {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  outline: none;
  width: 80%;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .opciones {
  margin-bottom: 5px;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .messaje {
  min-height: 20rem;
  max-height: 20rem;
  border: 1px solid black;
  padding: 10px;
  overflow: auto;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .messaje div {
  outline: none;
  border-bottom: 1px dotted #c2c2c2;
  line-height: 1.2rem;
  font-size: 0.9rem;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .atachs {
  height: 3rem;
  border: 1px dotted #c2c2c2;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  padding: 0.5rem;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .atachs li {
  margin-right: 1px;
  font-size: 0.7rem;
  line-height: 1rem;
  border: 1px solid #fff;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .atachs li:hover {
  border: 1px solid #E0E0E0;
}
.ventanaCorreo .cuerpoCorreo .correoIzq .commands {
  margin-top: 5px;
  text-align: right;
}
.ventanaCorreo .cuerpoCorreo .correoDerch {
  border: 1px solid #E0E0E0;
  padding: 1rem;
}
.ventanaCorreo .cuerpoCorreo .correoDerch h4 {
  margin-bottom: 10px;
}

.ventanaArchivos {
  width: 40%;
  padding: 1rem;
  border-radius: 8px;
  max-height: 30rem;
  overflow: auto;
}
.ventanaArchivos .tituloArchivos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ventanaArchivos .tituloArchivos i {
  font-size: 1.5rem;
}
.ventanaArchivos .listaArchivos {
  height: 35vh;
  border: 1px solid #E0E0E0;
  margin: 5px 0;
  overflow: auto;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}
.ventanaArchivos .listaArchivos li {
  width: 6rem;
  text-align: center;
  margin: 10px;
}
.ventanaArchivos .listaArchivos li i {
  font-size: 2rem;
}
.ventanaArchivos .listaArchivos li p:nth-child(2) {
  font-size: 0.6rem;
  width: 110px;
  text-align: center;
  word-wrap: break-word;
}
.ventanaArchivos .opcionesArchivos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ventanaArchivos .opcionesArchivos button {
  padding: 1rem;
  width: 33%;
  margin-right: 10px;
}

.tabs_labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5rem;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.tabs_labels a {
  display: block;
}

.ventanaProceso .seccion_izquierda, .ventanaProceso .seccion_medio, .ventanaProceso .seccion_derecha {
  padding: 0;
}
.ventanaProceso .seccion_izquierda {
  width: 100%;
}
.ventanaProceso .barraOpciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0078D4;
  padding: 5px;
}
.ventanaProceso .barraOpciones > span {
  color: #fff;
  line-height: 2rem;
}
.ventanaProceso .barraOpciones button {
  height: 35px;
  padding: 10px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.ventanaProceso .barraOpciones button:hover {
  border: 2px solid #000;
}
.ventanaProceso .textAreaEnter textarea {
  width: 100%;
  border: 1px solid #c2c2c2;
  height: 2rem;
  padding: 5px;
}
.ventanaProceso .dataProceso_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.ventanaProceso .dataProceso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.ventanaProceso .dataProceso input, .ventanaProceso .dataProceso_2 input {
  height: 35px;
  border: none;
  border: 1px solid #c2c2c2;
  margin-top: 3px;
  font-size: 0.7rem;
  border-radius: 8px;
}
.ventanaProceso .dataProceso label, .ventanaProceso .dataProceso_2 label {
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 10px;
}
.ventanaProceso table tbody tr {
  height: 30px;
  font-size: 0.7rem;
}
.ventanaProceso table tbody input[type=text] {
  border: none !important;
  height: 1rem !important;
  width: 100%;
  outline: none;
}
.ventanaProceso table tbody select {
  width: 100%;
  height: 2rem;
  outline: none;
}

.ventanaBusqueda input[type=text] {
  height: 35px;
  border: none;
  border: 1px solid #c2c2c2;
  width: 100%;
  outline: none;
}
.ventanaBusqueda .tablaBusqueda {
  height: 20rem;
  overflow: auto;
  padding: 0 10px;
}
.ventanaBusqueda .tablaBusqueda tbody tr {
  cursor: pointer;
}
.ventanaBusqueda .tituloVentana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  background: #CF677E;
  height: 2rem;
  padding: 7px;
  color: #fff;
  font-weight: bold;
}
.ventanaBusqueda .textoBusqueda {
  padding: 10px;
}

.ventanaDialogo {
  width: 20%;
}

.ventanaComentarios {
  width: 33%;
  padding: 1rem;
  border-radius: 20px;
}
.ventanaComentarios .cuerpoComentarios {
  height: 25rem;
  overflow: auto;
}

.ventanaPregunta, .ventanaDialogo, .ventanaComentarios {
  text-align: center;
  padding: 20px;
  line-height: 3rem;
}
.ventanaPregunta button, .ventanaDialogo button, .ventanaComentarios button {
  border: none;
  width: 45%;
  line-height: 2.5rem;
  background: #797777;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.ventanaPregunta button:hover, .ventanaDialogo button:hover, .ventanaComentarios button:hover {
  color: #000;
  background: #005D84;
}

.pestanasUsuario {
  height: 20rem;
  overflow: auto;
}

.separadorItem {
  background: #005D84;
  color: #fff;
}

.tablaPointer {
  cursor: pointer;
}

.tablaInterna {
  overflow: auto;
  max-height: 25vh;
}

.tablainterna3columnas th:nth-child(1), .tablainterna3columnas th:nth-child(3) {
  width: 10%;
}

.tablainterna4columnas th:nth-child(1), .tablainterna4columnas th:nth-child(3) {
  width: 15%;
}

.tabla3columnas th:nth-child(1), .tabla3columnas th:nth-child(3) {
  width: 5%;
  padding-left: 20px;
}

.tabla4columnas th:nth-child(1), .tabla4columnas th:nth-child(2), .tabla4columnas th:nth-child(4) {
  width: 5% !important;
}

.tabla6columnas th:nth-child(1), .tabla6columnas th:nth-child(6) {
  width: 5% !important;
}
.tabla6columnas th:nth-child(2), .tabla6columnas th:nth-child(4) {
  width: 20% !important;
}

.tabla7columnas th:nth-child(1), .tabla7columnas th:nth-child(6), .tabla7columnas th:nth-child(7) {
  width: 5% !important;
}

.celdaAsignado {
  word-break: break-all !important;
  white-space: nowrap !important;
  width: 150px !important;
}

.tabla, .tablaWrap {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.7rem;
}
.tabla thead, .tablaWrap thead {
  background: #000;
  color: #fff;
  height: 30px;
  font-size: 0.8rem;
}
.tabla tbody tr td, .tablaWrap tbody tr td {
  border: 1px solid #616161;
  line-height: 1rem;
}
.tabla tbody tr td input[type=number], .tabla tbody tr td input[type=text], .tabla tbody tr td input[type=date], .tablaWrap tbody tr td input[type=number], .tablaWrap tbody tr td input[type=text], .tablaWrap tbody tr td input[type=date] {
  width: 100%;
  height: 2rem;
  padding-right: 10px;
  background: transparent;
  outline: none;
}
.tabla tbody tr td input[type=number], .tablaWrap tbody tr td input[type=number] {
  text-align: right;
}
.tabla tbody tr td textarea, .tablaWrap tbody tr td textarea {
  width: 100%;
  outline: none;
  background: transparent;
  font-size: 0.7rem;
  padding-left: 2px;
}
.tabla tbody tr:hover, .tablaWrap tbody tr:hover {
  background: rgba(255, 255, 43, 0.7);
}

.tablaWrap tbody tr td {
  border: 1px solid #616161;
  overflow: hidden;
  white-space: break-spaces;
  -webkit-transition: 5s;
  transition: 5s;
}

.tabs_labels a {
  display: block;
  width: 19rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.tabs_labels a:hover {
  background: #c2c2c2;
}
.tabs_labels .seleccionado {
  color: #fff;
  background: #000;
}

.criterio {
  border: 1px solid #616161 !important;
  line-height: 1.5rem !important;
}

.leyenda {
  position: absolute;
  background: #fff;
  z-index: 10;
  padding: 1rem;
  right: -180px;
}
.leyenda table {
  border-collapse: collapse;
}
.leyenda table thead {
  color: #fff;
  background: #005D84;
  font-size: 0.7rem;
}
.leyenda table tr, .leyenda table th, .leyenda table td {
  border: 1px solid #c3c3c3;
  padding: 10px;
}

.w10por {
  width: 10%;
}

.w25por {
  width: 25%;
}

.w35por {
  width: 35%;
}

.w50por {
  width: 50%;
}

.w65por {
  width: 65%;
}

.w75por {
  width: 75%;
}

.w90por {
  width: 90%;
}

.w100por {
  width: 100%;
}

.ml60px {
  margin-left: 60px;
}

.tamanioProceso {
  width: 70%;
}

.tamanioProceso80 {
  width: 80%;
}

.mininoTablaInterna {
  min-height: 15rem;
}

.izq20px {
  margin-left: 20px;
}

.estado {
  font-weight: 900;
}

.procesando, .consulta, .aprobacion, .estudio, .conformidad, .firmas, .recepcion, .calidad, .despacho {
  font-size: 0.7rem !important;
}

.procesando {
  background: #FFCA28;
}

.consulta {
  background: #D7FF67;
}

.aprobacion {
  background: #C9E2F4;
}

.aprobado {
  background: #04AA6D;
}

.cotizacion {
  background: #EFEF13;
}

.estudio {
  background: #C0CA33;
}

.adjudicado {
  background: rgba(145, 93, 152, 0.5);
}

.conformidad {
  background: #27798F;
}

.firmas {
  background: #73BB6F;
}

.recepcion {
  background: #AAD2F0;
}

.calidad {
  background: #F4D03F;
}

.despacho {
  background: #E2C08D;
}

.orden {
  background: #5F9EA0;
}

.culminado {
  background: #55A5E2;
}