@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:lightgray;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.anim-bottom::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0.25rem;
    background-color: #3211FF;
    transition: width .5s ease, left .5s ease, right .5s ease;
}

.anim-bottom:hover::after{
    width: 100%;
}

.to-center::after{
    left: 50%;
}

.to-left::after{
    left: 0;
}

.btn{
    position: relative;
    border: none;
    border-radius: .25rem;
    padding: 0.2rem;
    width: 15rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    box-shadow: .25rem .25rem .5rem .25rem rgba(0, 0, 0, .15);
    text-align: center;
}


a{
    text-decoration: none;
    color: #000000;
}


.wrap{
    background: white;
    width: 60%;
    height: 60vh;
    padding: 1rem;

    .wrap__header {
        border-bottom: 4px solid #3211FF;
        margin-bottom: 2rem;
    }

    .wrap__body{
        border-bottom: 3rem;
        margin-bottom: 3rem;

        p:nth-child(1){
            font-size: 2rem;
            font-weight: bold;
            color: #629015;
        }

        p:nth-child(2){
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .wrap__options{
        position: relative;
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        height: 55%;

        .options{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #c2c2c2;
            height: 100%;
            flex-direction: column;

            >a{
                display: block;
                font-size: 1.5rem;
                font-weight: bold;
            }
        
            i {
                position:absolute;
                font-size: 2rem;
                top: -2rem;
                border: 1px solid #c2c2c2;
                padding: 1.2rem;
                background: #fff;
                border-radius: 50%;
            }

            .option{
                display: flex;
                justify-content: center;
                align-items:center;
                background:linear-gradient(to right, #B4B3B3,#a1a1a1,#7c7c7c);
                width: 100%;
                height: 20%;
                position: absolute;
                bottom: 0;

                
            }
        }
    }
}