* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colortexto : #000;
    --colorlinea : #3211FF;
    --color: #17a2ff;
    --fondoboton:#03cc57;
    --color-barra:#005B86;
    --color-fondo:rgb(253, 252, 252);
    --color-boton-desactivado:gray;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
}

a{
    color: var(--color-texto);
    text-decoration: none;
}

ul,li{
    list-style: none;
}

h2{
    background: linear-gradient(to right, #859398,#283048);
    padding: 1rem;
    color: var(--color-fondo);
}

.enviado {
    background-color: var(--fondoboton);
}

.lista_ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;

    li{
        display: block;
        text-align: center;
        padding: 1rem;
        border: 2px solid transparent;
        height: fit-content;
        width: fit-content;

        color: var(--color-boton-desactivado);
    }
}

.activo{
    border: 1px solid var(--color-boton-desactivado) !important;
    border-radius: 8px;
}

.modal{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,75%);
    z-index: 100;
}

.oculto{
    display: none;
}

.wrap{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: .5fr 2.1fr 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto auto 2fr 1fr auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    gap: 5px;
    grid-template-areas:
        "header header header header header header header header header"
        "navigator navigator navigator navigator navigator navigator navigator navigator navigator"
        "orders orders atachs atachs atachs atachs atachs atachs atachs"
        "orders orders status status status status status status status"
        "footer footer footer footer footer footer footer footer footer";

    .wrap_orders,
    .wrap_atachs,
    .wrap_status{
        border-radius: 4px;
        position: relative;
        border: 2px solid #6c6c6c;
    }

    .wrap_header { 
        display: flex;
        justify-content: space-between;
        grid-area: header; 
        background: var(--color-barra);
        padding: 1rem 1.5rem;
        

        .logo{
            background-image: url("../img/logo.png");
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
            width: 9rem;
            height: 80px;
        }

        .entidad_datos{
            font-size: 2rem;
            text-shadow: 1px 2px 2px #fff;
            font-weight: bold;
        }
    }

    .wrap_nav{
        grid-area: navigator;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;

        a{
            display: inline-block;
            width: 140px;
            text-align: center;
            color: var(--color-boton-desactivado);
            padding: 0.5rem;
            border: 1px solid transparent;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover{
                border: 1px solid var(--color-boton-desactivado);
                color: var(--colortexto);
            }

            *{
                pointer-events: none;
            }

            i{
                font-size: 2rem;
            }

            p{
                font-size: .8rem;
                margin-top: 5px;
            }
        }
    }

    .wrap_orders{
        grid-area: orders;
        display: flex;
        flex-direction: column;
       
        margin-left: 1rem;

        input{
            height: 3rem;
            margin: 1rem 0;
            padding-left: 10px;
            border-radius: 8px;
            margin: 1rem;
            border: 1px solid var(--color-boton-desactivado);
        }

        .contenedor_ordenes{
            height: 100%;
            padding: 1rem;
            border-radius: 8px;
            overflow: auto;
            margin: 1rem;

            .lista_ul {
                gap:10px;

                li{
                    &:hover{
                        border: 1px solid var(--color-boton-desactivado);
                        color: var(--colortexto);
                        border-radius: 8px;
                    }

                    a{
                        display: block;
                        pointer-events: none;
            
                        i{
                            font-size: 2.5rem;
                            margin-bottom: 5px;
                        }
            
                        p{
                            font-size: .8rem;
                        }
                    }
                }
                
            }
            
        }
    }

    .wrap_atachs{
        grid-area: atachs;
        margin-right: 1rem;
        overflow: auto;
        height: 100%;
        position: relative;

        .body_atachs {
            padding: 1rem;
            display: flex;
            gap: 1rem ;
            height: 90%;
            overflow: auto;
            
            .contenedor_adjuntos{
                padding: 1rem;
                width: 65%;
                position: relative;
                gap: 10px;
                margin-right: 20px;

                .atach_list_documents{
                    height: 100%;
                    border: 1px dotted #005B86;
                    position: absolute;
                    width: 100%;
                    background: #fff;
                    z-index: 1;
                    overflow: auto;

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        gap: .5rem;
                        padding: 0.5rem;

                        li {
                            padding: .5rem;
                            width: 15%;
                            text-align: center;
                            border: 1px solid transparent;
                            
                            &:hover{
                                border: 1px solid var(--color-boton-desactivado);
                                color: var(--colortexto);
                                border-radius: 8px;
                            }
                            
                            a{
                                pointer-events: none;
                                
                                i {
                                    font-size: 3rem;
                                    pointer-events: none;
                                }
    
                                span {
                                    font-size: clamp(.5rem, 1.5vw, .7rem);
                                    margin-top: 10px;
                                    
                                }

                                p {
                                    pointer-events: none;
                                }
                            }

                            

                        }
                    }
                }

                .atach_list_empty{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border: 1px dotted #005B86;
                    position: absolute;
                    background: #fff;
                    z-index: 2;

                    h1{
                        font-size: 3rem;
                        opacity: .4;
                    }

                    p{
                        opacity: .4;
                    }
                }
            }

            .mensaje_adjuntos{
                line-height: 1rem;

                h3{
                    line-height: 2rem;
                }

                h4{
                    margin: 1rem 0;
                }

                .parrafo_importante {
                    color: #cb2025;
                    margin-top: 2rem;
                    padding: 5px;
                    border: 1px solid #cb2025;
                    line-height: 1.5rem;
                }
                
                p{
                    line-height: 2rem;
                    margin-left: 20px;

                    span {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .wrap_status{
        grid-area: status;
        margin-right: 1rem;
        height: 100%;
        
        .body_status{
            display: flex;
            gap: 1rem;
            width: 100%;
            justify-content:space-around;

            .tabla_estado{
                width: 100%;
                padding: 0.5rem;


                table {
                    table-layout: fixed;
                    width: 100%;
                    border: 1px solid var(--color-barra);
                    border-collapse: collapse;

                    caption {
                        background: var(--color-barra);
                        height: 2rem;
                        color: #fff;
                        margin-top: 5px;
                    }

                    tr,th,td{
                        border: 1px dotted var(--color-barra);
                        line-height: 2rem;
                    }

                    td {
                        padding-left: 10px;

                        div{
                            width:50%; 
                            display:block; 
                            color:transparent;
                            margin: 0 auto;
                        }
                    }
                }
            }            
        }
    }

    .wrap_footer{
        grid-area: footer;
        background: var(--color-barra);
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }


}

.wrap_modal{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader  {
        animation: rotate 1s infinite;  
        height: 50px;
        width: 50px;
    }
      
    .loader:before,.loader:after {   
        border-radius: 50%;
        content: '';
        display: block;
        height: 20px;  
        width: 20px;
    }
    
    .loader:before {
        animation: ball1 1s infinite;  
        background-color: #cb2025;
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
      
    .loader:after {
        animation: ball2 1s infinite; 
        background-color: #00a096;
        box-shadow: 30px 0 0 #97bf0d;
    }
}

  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }
